network_key: {{ z2m_network_key | to_json }}
mqtt_user: {{ "z2m" | to_json }}
mqtt_password: {{ mosquitto_accounts.z2m.password | to_json }}
pan_id: 40336
ext_pan_id:
  - 92
  - 37
  - 125
  - 47
  - 127
  - 57
  - 250
  - 171
