#jinja2: lstrip_blocks: True
# z2m.service #######################################################################
[Unit]
Description=z2m
After=network-online.target
Wants=network-online.target
StartLimitInterval=1200
StartLimitBurst=3
After=mosquitto.service
Wants=mosquitto.service
{% if zfs_root %}
{% if zfs_has_services_mount %}
After=zfs_mount_mnt_services.service
Requires=zfs_mount_mnt_services.service
{% endif %}
After=zfs_autosnapshot.target
PartOf=zfs_autosnapshot.target
{% endif %}

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
Delegate=yes
TimeoutSec=240
RestartSec=5
Type=notify
NotifyAccess=all
SyslogIdentifier=%N

ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
    --cidfile=%t/%n.ctr-id \
    --cgroups=split \
    --init \
    --sdnotify=healthy \
    --detach \
    --replace \
    --rm \
    --name z2m \
    --log-driver journald \
    --log-opt tag="z2m" \
    --volume /mnt/services/z2m:/app/data \
    --user {{ z2m_user.uid }}:{{ z2m_user.group }} \
    --network mosquitto \
    --security-opt=no-new-privileges \
    --tz={{ system_timezone }} \
    --publish 127.0.0.1:{{ service_ports.z2m }}:{{ service_ports.z2m }}/tcp \
    --health-cmd         '["wget","--quiet","--tries=1","--spider","--timeout=5","http://localhost:{{ service_ports.z2m }}/"]' \
    --health-startup-cmd '["wget","--quiet","--tries=1","--spider","--timeout=5","http://localhost:{{ service_ports.z2m }}/"]' \
    --health-startup-interval "1s" \
    --health-startup-timeout "5s" \
    --health-start-period "100s" \
    --stop-timeout 240 \
    ghcr.io/koenkk/zigbee2mqtt:2.12.0
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm --force --ignore --cidfile=%t/%n.ctr-id

[Install]
WantedBy=multi-user.target
{% if zfs_root %}
WantedBy=zfs_autosnapshot.target
{% endif %}
