vrrp_script pihole_healthcheck {
  script   /usr/local/bin/pihole_healthcheck
  interval 1
  timeout  5
  rise     1
  fall     2
  user     root
}

vrrp_instance pihole {
  state     BACKUP
  interface eth0

  unicast_src_ip {{ external_ips[inventory_hostname] }}
  unicast_peer {
    {% for name in pihole_keepalived_peers | select("ne", inventory_hostname) | sort %}
    {{ external_ips[name] }}
    {% endfor %}
  }

  virtual_router_id {{ pihole_keepalived_vrid }}
  priority          {{ pihole_keepalived_priority }}

  authentication {
    auth_type PASS
    auth_pass {{ pihole_keepalived_password }}
  }

  virtual_ipaddress {
    {{ pihole_keepalived_ip }}/32
  }

  # Periodic gratuitous ARP so any LAN cache that picks up a wrong MAC
  # for the VIP self-heals within ~1 minute. The VIP shares its broadcast
  # domain with mac0 (macvlan child of eth0); ARP-flux is mitigated by
  # arp_ignore=1/arp_announce=2 in roles/macvlan, but periodic GARP is a
  # belt-and-braces against transient poisoning during role rollouts.
  garp_master_repeat 3
  garp_master_refresh 60

  track_script {
    pihole_healthcheck
  }
}
