[Unit]
Description=Pihole DNS reboot guard
Documentation=file:///usr/local/sbin/pihole_reboot_guard
After=network-online.target keepalived.service
Wants=network-online.target

[Service]
Type=exec
ExecStart=/usr/local/sbin/pihole_reboot_guard
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
