INSTALL_WEB_INTERFACE=true
WEBPASSWORD={{ pihole_password | hash('sha256') | hash('sha256') }}
PIHOLE_INTERFACE=eth0
QUERY_LOGGING=true
REV_SERVER=true
REV_SERVER_TARGET={{ home_subnet | ansible.utils.ipmath(1) }}
REV_SERVER_CIDR={{ home_subnet }}
BLOCKING_ENABLED=true
DNSMASQ_LISTENING=single
PIHOLE_DNS_1={{ podman_default_network | ansible.utils.ipmath(1) }}#5053
DNS_FQDN_REQUIRED=false
DNS_BOGUS_PRIV=false
DNSSEC=false
REV_SERVER_DOMAIN=
