pipeline:
  filters:
    - name: modify
      match: '*'
      set: host {{ inventory_hostname }}
      rename: MESSAGE log

    - name: lua
      match: '*'
      script: /etc/fluent-bit/level_from_message.lua
      call: set_priority

    - name: lua
      match: '*'
      script: /etc/fluent-bit/lnav_shape.lua
      call: shape_lnav
