# jinja2: lstrip_blocks: "True"
# postgres.service #######################################################################
[Unit]
Description=postgres
After=network-online.target
Wants=network-online.target
StartLimitInterval=600
StartLimitBurst=3
{% if zfs_root %}
{% if zfs_has_services_mount %}
After=zfs_mount_mnt_services.service
Requires=zfs_mount_mnt_services.service
{% endif %}
After=zfs_autosnapshot.target
PartOf=zfs_autosnapshot.target
{% endif %}

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
Delegate=yes
TimeoutSec=120
RestartSec=5
Type=notify
NotifyAccess=all
SyslogIdentifier=%N

ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
    --cidfile=%t/%n.ctr-id \
    --cgroups=split \
    --sdnotify=healthy \
    --detach \
    --replace \
    --rm \
    --name postgres \
    --log-driver journald \
    --log-opt tag="postgres" \
    --volume /mnt/services/postgres:/var/lib/postgresql/data \
    --user {{ postgres_user.uid }}:{{ postgres_user.group }} \
    --publish 127.0.0.1:5432:5432/tcp \
    --health-cmd "pg_isready" \
    --health-startup-cmd "pg_isready" \
    --health-startup-interval "1s" \
    --health-startup-timeout "5s" \
    --health-start-period "100s" \
    --stop-timeout 120 \
    docker.io/postgres:16.3
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm --force --ignore --cidfile=%t/%n.ctr-id

[Install]
WantedBy=default.target
{% if zfs_root %}
WantedBy=zfs_autosnapshot.target
{% endif %}
