http:
  routers:
    dashboard:
      rule: Host(`traefik.{{ domain }}`) || Host(`traefik.{{ inventory_hostname }}.{{ domain }}`))
      service: api@internal
      tls: {}
      middlewares:
        - redirect_to_dashboard

  middlewares:
    redirect_to_dashboard_root:
      redirectRegex:
        regex: "^https://traefik.{{ domain }}/$"
        replacement: "https://traefik.{{ domain }}/dashboard/"
    redirect_to_dashboard_local:
      redirectRegex:
        regex: "^https://traefik.{{ inventory_hostname }}.{{ domain }}/$"
        replacement: "https://traefik.{{ inventory_hostname }}.{{ domain }}/dashboard/"
