/var/log/traefik/*.log {
	daily
	missingok
	rotate 14
  {{ zfs_root | ternary("# compress # zfs already compresses disk contents", "compress") }}
	# compress # zfs already compresses disk contents
	delaycompress
	notifempty
	sharedscripts
	postrotate
		/usr/bin/systemctl kill -s SIGUSR1 traefik 2>/dev/null || true
	endscript
}
