# jinja2: lstrip_blocks: "True"
# transmission.service #######################################################################
[Unit]
Description=transmission
After=network-online.target
Wants=network-online.target
StartLimitInterval=600
StartLimitBurst=3
{% if zfs_root %}
After=zfs_mount_mnt_services.service zfs_mount_mnt_scratch.service zfs_mount_mnt_media.service  zfs_autosnapshot.target
Requires=zfs_mount_mnt_services.service zfs_mount_mnt_scratch.service zfs_mount_mnt_media.service
PartOf=zfs_autosnapshot.target
{% endif %}

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
Delegate=yes
TimeoutSec=120
RestartSec=5
Type=notify
NotifyAccess=all

ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
    --cidfile=%t/%n.ctr-id \
    --cgroups=split \
    --sdnotify=healthy \
    --detach \
    --replace \
    --rm \
    --name transmission \
    --log-driver journald \
    --log-opt tag="transmission" \
    --env PUID={{ transmission_user.uid }} \
    --env PGID={{ media_group.gid }} \
    --env TZ=Europe/Paris \
    --env-file /etc/default/transmission \
    --volume /mnt/services/transmission:/config \
    --volume /mnt/media/Torrents:/downloads/complete \
    --volume /mnt/scratch/transmission:/downloads/incomplete \
    --volume /usr/local/bin/transmission_healthcheck:/usr/local/bin/transmission_healthcheck \
    --publish 127.0.0.1:9091:9091/tcp \
    --publish 0.0.0.0:51413:51413/tcp \
    --publish 0.0.0.0:51413:51413/udp \
    --health-cmd         "/usr/local/bin/transmission_healthcheck" \
    --health-startup-cmd "/usr/local/bin/transmission_healthcheck" \
    --health-startup-interval "1s" \
    --health-startup-timeout "5s" \
    --stop-timeout 120 \
    docker.io/linuxserver/transmission:4.0.5
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm --force --ignore --cidfile=%t/%n.ctr-id

[Install]
WantedBy=default.target
{% if zfs_root %}
WantedBy=zfs_autosnapshot.target
{% endif %}
