# {{ ansible_managed }}
title: Lab
headerStyle: clean
theme: dark
color: slate
layout:
  Active alerts:
    style: row
    columns: 1
    header: false
target: _self
hideVersion: true
disableCollapse: true
