[Unit]
Description=custom_exporter
Wants=network-online.target
After=network-online.target

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=70
RestartSec=15
Type=exec
EnvironmentFile=/etc/default/custom_exporter

ExecStart=/opt/custom_exporter/main

[Install]
WantedBy=default.target
