Host *
    ControlPath ~/.ssh/.controlmaster-%C
    ControlMaster auto
    ControlPersist 300
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes
    ServerAliveInterval 30
    ConnectTimeout 10
