[ABNORMAL]
abnormal = 0
abnormal_cookies = ""
abnormal_enable_backlog = 1
abnormal_enable_daily = 1
abnormal_minleech = 0
abnormal_minseed = 1
abnormal_password = ""
abnormal_ratio = ""
abnormal_search_fallback = 0
abnormal_search_mode = eponly
abnormal_username = ""
[ALPHARATIO]
alpharatio = 0
alpharatio_cookies = ""
alpharatio_enable_backlog = 1
alpharatio_enable_daily = 1
alpharatio_minleech = 0
alpharatio_minseed = 1
alpharatio_password = ""
alpharatio_ratio = ""
alpharatio_search_fallback = 0
alpharatio_search_mode = eponly
alpharatio_username = ""
[ANIDB]
anidb_password = "{{ aws_ssm_sickrage_anidb_password }}"
anidb_use_mylist = 0
anidb_username = "{{ aws_ssm_sickrage_anidb_username }}"
use_anidb = 1
[ANIME]
anime_split_home = 0
anime_split_home_in_tabs = 0
[ARCHETORRENT]
archetorrent = 0
archetorrent_cookies = ""
archetorrent_enable_backlog = 1
archetorrent_enable_daily = 1
archetorrent_freeleech = 0
archetorrent_minleech = 0
archetorrent_minseed = 1
archetorrent_password = ""
archetorrent_ratio = ""
archetorrent_search_fallback = 0
archetorrent_search_mode = eponly
archetorrent_username = ""
[BINSEARCH]
binsearch = 0
binsearch_enable_backlog = 0
binsearch_enable_daily = 1
binsearch_search_fallback = 0
binsearch_search_mode = eponly
[BITCANNON]
bitcannon = 0
bitcannon_api_key = ""
bitcannon_cookies = ""
bitcannon_custom_url = ""
bitcannon_enable_backlog = 1
bitcannon_enable_daily = 1
bitcannon_minleech = 0
bitcannon_minseed = 1
bitcannon_ratio = ""
bitcannon_search_fallback = 0
bitcannon_search_mode = eponly
[BTN]
btn = 0
btn_api_key = ""
btn_cookies = ""
btn_enable_backlog = 1
btn_enable_daily = 1
btn_ratio = ""
btn_search_fallback = 0
btn_search_mode = eponly
[Blackhole]
nzb_dir = ""
torrent_dir = ""
[Boxcar2]
boxcar2_accesstoken = ""
boxcar2_notify_ondownload = 0
boxcar2_notify_onsnatch = 0
boxcar2_notify_onsubtitledownload = 0
use_boxcar2 = 0
[CPASBIEN]
cpasbien = 0
cpasbien_cookies = ""
cpasbien_enable_backlog = 1
cpasbien_enable_daily = 1
cpasbien_minleech = 0
cpasbien_minseed = 1
cpasbien_ratio = ""
cpasbien_search_fallback = 0
cpasbien_search_mode = eponly
[DANISHBITS]
danishbits = 0
danishbits_cookies = ""
danishbits_enable_backlog = 1
danishbits_enable_daily = 1
danishbits_freeleech = 0
danishbits_minleech = 0
danishbits_minseed = 1
danishbits_passkey = ""
danishbits_ratio = ""
danishbits_search_fallback = 0
danishbits_search_mode = eponly
danishbits_username = ""
[DOGNZB]
dognzb = 1
dognzb_enable_backlog = 1
dognzb_enable_daily = 1
dognzb_search_fallback = 0
dognzb_search_mode = eponly
[Discord]
discord_notify_download = 0
discord_notify_snatch = 0
discord_webhook = ""
use_discord = 0
[ELITETORRENT]
elitetorrent = 0
elitetorrent_cookies = ""
elitetorrent_enable_backlog = 1
elitetorrent_enable_daily = 1
elitetorrent_minleech = 0
elitetorrent_minseed = 1
elitetorrent_onlyspasearch = 0
elitetorrent_ratio = ""
elitetorrent_search_fallback = 0
elitetorrent_search_mode = eponly
[Email]
email_from = ""
email_host = ""
email_list = ""
email_notify_ondownload = 0
email_notify_onsnatch = 0
email_notify_onsubtitledownload = 0
email_password = ""
email_port = 25
email_subject = ""
email_tls = 0
email_user = ""
use_email = 0
[Emby]
emby_apikey = ""
emby_host = ""
use_emby = 0
[FILELIST]
filelist = 0
filelist_cookies = ""
filelist_enable_backlog = 1
filelist_enable_daily = 1
filelist_minleech = 0
filelist_minseed = 1
filelist_password = ""
filelist_ratio = ""
filelist_search_fallback = 0
filelist_search_mode = eponly
filelist_username = ""
[FailedDownloads]
delete_failed = 1
use_failed_downloads = 1
[FreeMobile]
freemobile_apikey = ""
freemobile_id = ""
freemobile_notify_ondownload = 0
freemobile_notify_onsnatch = 0
freemobile_notify_onsubtitledownload = 0
use_freemobile = 0
[GFTRACKER]
gftracker = 0
gftracker_cookies = ""
gftracker_enable_backlog = 1
gftracker_enable_daily = 1
gftracker_minleech = 0
gftracker_minseed = 1
gftracker_password = ""
gftracker_ratio = ""
gftracker_search_fallback = 0
gftracker_search_mode = eponly
gftracker_username = ""
[GUI]
coming_eps_display_paused = 0
coming_eps_display_snatched = 0
coming_eps_layout = banner
coming_eps_missed_range = 7
coming_eps_sort = date
custom_css = 0
custom_css_path = ""
date_preset = %x
display_show_specials = 1
fanart_background = 1
fanart_background_opacity = 0.4
fuzzy_dating = 0
gui_name = slick
history_layout = detailed
history_limit = 100
home_layout = simple
language = ""
poster_sortby = name
poster_sortdir = 1
sickrage_background = 0
sickrage_background_path = ""
theme_name = dark
time_preset = %I:%M:%S %p
timezone_display = local
trim_zero = 0
[General]
add_shows_wo_dir = 0
airdate_episodes = 1
allow_high_priority = 1
allowed_extensions = "srt,nfo,srr,sfv"
alt_unrar_tool = bsdtar
anime_default = 0
anon_redirect = http://dereferer.org/?
api_key = "{{ aws_ssm_sickrage_sickrage_api_key }}"
auto_update = 0
autopostprocessor_frequency = 10
backlog_days = 7
backlog_frequency = 21
branch = master
cache_dir = cache
calendar_icons = 0
calendar_unprotected = 0
check_propers_interval = daily
config_version = 8
cpu_preset = NORMAL
create_missing_show_dirs = 0
cur_commit_branch = ""
cur_commit_hash = ""
dailysearch_frequency = 40
dbdebug = 0
debug = 0
default_page = home
del_rar_contents = 0
delete_non_associated_files = 1
developer = 0
display_all_seasons = 1
download_propers = 1
download_url = ""
enable_https = 0
encryption_secret = "{{ aws_ssm_sickrage_encryption_secret }}"
encryption_version = 0
ep_default_deleted_status = 6
extra_scripts = ""
file_timestamp_timezone = network
git_auth_type = 0
git_password = ""
git_path = ""
git_remote = origin
git_remote_url = https://github.com/SickRage/SickRage.git
git_reset = 1
git_token_password = ""
git_username = ""
handle_reverse_proxy = 1
https_cert = server.crt
https_key = server.key
ignore_broken_symlinks = 0
ignore_words = "german,french,core2hd,dutch,swedish,reenc,MrLss"
ignored_subs_list = "dk,fin,heb,kor,nor,nordic,pl,swe"
indexerDefaultLang = en
indexer_default = 0
indexer_timeout = 20
keep_processed_dir = 0
launch_browser = 0
localhost_ip = ""
log_dir = Logs
log_nr = 5
log_size = 10.0
metadata_kodi = 1|1|1|1|1|1|1|1|1|1
metadata_kodi_12plus = 0|0|0|0|0|0|0|0|0|0
metadata_mede8er = 0|0|0|0|0|0|0|0|0|0
metadata_mediabrowser = 0|0|0|0|0|0|0|0|0|0
metadata_ps3 = 0|0|0|0|0|0|0|0|0|0
metadata_tivo = 0|0|0|0|0|0|0|0|0|0
metadata_wdtv = 0|0|0|0|0|0|0|0|0|0
move_associated_files = 1
naming_abd_pattern = %SN - %A.D - %EN
naming_anime = 3
naming_anime_multi_ep = 1
naming_anime_pattern = Season %0S/%SN - S%0SE%0E - %EN
naming_custom_abd = 0
naming_custom_anime = 0
naming_custom_sports = 0
naming_multi_ep = 1
naming_pattern = Season %0S/%SN - S%0SE%0E - %EN
naming_sports_pattern = %SN - %A-D - %EN
naming_strip_year = 0
news_last_read = 1970-01-01
nfo_rename = 1
no_delete = 0
no_restart = 0
notify_on_login = 0
notify_on_update = 1
nzb_method = sabnzbd
postpone_if_sync_files = 1
process_automatically = 0
process_method = move
processor_follow_symlinks = 0
provider_order = nzbgeek dognzb nzbs_org binsearch omgwtfnzbs womble_s_index nzb_cat usenet_crawler
proxy_indexers = 0
proxy_setting = ""
quality_default = 164
randomize_providers = 0
rename_episodes = 1
require_words = ""
root_dirs = 0|/media/TV
scene_default = 0
season_folders_default = 1
showupdate_hour = 3
skip_removed_files = 0
socket_timeout = 30
sort_article = 0
ssl_verify = 1
status_default = 5
status_default_after = 3
sync_files = "!sync,lftp-pget-status,bts,!qb,!qB"
torrent_method = blackhole
trackers_list = "udp://coppersurfer.tk:6969/announce,udp://open.demonii.com:1337,udp://exodus.desync.com:6969,udp://9.rarbg.me:2710/announce,udp://glotorrents.pw:6969/announce,udp://tracker.openbittorrent.com:80/announce,udp://9.rarbg.to:2710/announce"
trash_remove_show = 0
trash_rotate_logs = 0
tv_download_dir = ""
unpack = 1
unpack_dir = ""
unrar_tool = unrar
update_frequency = 12
use_free_space_check = 1
use_icacls = 1
use_listview = 0
use_nzbs = 1
use_torrents = 0
usenet_retention = 2031
version_notify = 1
web_cookie_secret = "{{ aws_ssm_sickrage_web_cookie_secret }}"
web_host = 0.0.0.0
web_ipv6 = 0
web_log = 0
web_password = ""
web_port = 8081
web_root = ""
web_use_gzip = 1
web_username = ""
[Growl]
growl_host = ""
growl_notify_ondownload = 0
growl_notify_onsnatch = 0
growl_notify_onsubtitledownload = 0
growl_password = ""
use_growl = 0
[HD4FREE]
hd4free = 0
hd4free_api_key = ""
hd4free_cookies = ""
hd4free_enable_backlog = 1
hd4free_enable_daily = 1
hd4free_freeleech = 0
hd4free_minleech = 0
hd4free_minseed = 1
hd4free_ratio = ""
hd4free_search_fallback = 0
hd4free_search_mode = eponly
hd4free_username = ""
[HDBITS]
hdbits = 0
hdbits_cookies = ""
hdbits_enable_backlog = 1
hdbits_enable_daily = 1
hdbits_passkey = ""
hdbits_ratio = ""
hdbits_search_fallback = 0
hdbits_search_mode = eponly
hdbits_username = ""
[HDSPACE]
hdspace = 0
hdspace_cookies = ""
hdspace_enable_backlog = 1
hdspace_enable_daily = 1
hdspace_minleech = 0
hdspace_minseed = 1
hdspace_password = ""
hdspace_ratio = ""
hdspace_search_fallback = 0
hdspace_search_mode = eponly
hdspace_username = ""
[HDTORRENTS]
hdtorrents = 0
hdtorrents_cookies = ""
hdtorrents_enable_backlog = 1
hdtorrents_enable_daily = 1
hdtorrents_freeleech = 0
hdtorrents_minleech = 0
hdtorrents_minseed = 1
hdtorrents_password = ""
hdtorrents_ratio = ""
hdtorrents_search_fallback = 0
hdtorrents_search_mode = eponly
hdtorrents_username = ""
[HDTORRENTS_IT]
hdtorrents_it = 0
hdtorrents_it_cookies = ""
hdtorrents_it_enable_backlog = 1
hdtorrents_it_enable_daily = 1
hdtorrents_it_freeleech = 0
hdtorrents_it_minleech = 0
hdtorrents_it_minseed = 1
hdtorrents_it_password = ""
hdtorrents_it_ratio = ""
hdtorrents_it_search_fallback = 0
hdtorrents_it_search_mode = eponly
hdtorrents_it_username = ""
[HORRIBLESUBS]
horriblesubs = 0
horriblesubs_cookies = ""
horriblesubs_enable_backlog = 1
horriblesubs_enable_daily = 1
horriblesubs_minleech = 0
horriblesubs_minseed = 1
horriblesubs_ratio = ""
horriblesubs_search_fallback = 0
horriblesubs_search_mode = eponly
[HOUNDDAWGS]
hounddawgs = 0
hounddawgs_cookies = ""
hounddawgs_enable_backlog = 1
hounddawgs_enable_daily = 1
hounddawgs_freeleech = 0
hounddawgs_minleech = 0
hounddawgs_minseed = 1
hounddawgs_password = ""
hounddawgs_ranked = 1
hounddawgs_ratio = ""
hounddawgs_search_fallback = 0
hounddawgs_search_mode = eponly
hounddawgs_username = ""
[ILCORSARONERO]
ilcorsaronero = 0
ilcorsaronero_cookies = ""
ilcorsaronero_enable_backlog = 1
ilcorsaronero_enable_daily = 1
ilcorsaronero_engrelease = 0
ilcorsaronero_minleech = 0
ilcorsaronero_minseed = 1
ilcorsaronero_ratio = ""
ilcorsaronero_search_fallback = 0
ilcorsaronero_search_mode = eponly
ilcorsaronero_subtitle = 0
[IMMORTALSEED]
immortalseed = 0
immortalseed_cookies = ""
immortalseed_enable_backlog = 1
immortalseed_enable_daily = 1
immortalseed_freeleech = 0
immortalseed_minleech = 0
immortalseed_minseed = 1
immortalseed_passkey = ""
immortalseed_password = ""
immortalseed_ratio = ""
immortalseed_search_fallback = 0
immortalseed_search_mode = eponly
immortalseed_username = ""
[IPTORRENTS]
iptorrents = 0
iptorrents_cookies = ""
iptorrents_custom_url = ""
iptorrents_enable_backlog = 1
iptorrents_enable_daily = 1
iptorrents_freeleech = 0
iptorrents_minleech = 0
iptorrents_minseed = 1
iptorrents_password = ""
iptorrents_ratio = ""
iptorrents_search_fallback = 0
iptorrents_search_mode = eponly
iptorrents_username = ""
[Join]
join_apikey = ""
join_id = ""
join_notify_ondownload = 0
join_notify_onsnatch = 0
join_notify_onsubtitledownload = 0
use_join = 0
[KODI]
kodi_always_on = 1
kodi_host = ""
kodi_notify_ondownload = 0
kodi_notify_onsnatch = 0
kodi_notify_onsubtitledownload = 0
kodi_password = ""
kodi_update_full = 0
kodi_update_library = 0
kodi_update_onlyfirst = 0
kodi_username = ""
use_kodi = 0
[LIMETORRENTS]
limetorrents = 0
limetorrents_cookies = ""
limetorrents_enable_backlog = 1
limetorrents_enable_daily = 1
limetorrents_minleech = 0
limetorrents_minseed = 1
limetorrents_ratio = ""
limetorrents_search_fallback = 0
limetorrents_search_mode = eponly
[Libnotify]
libnotify_notify_ondownload = 0
libnotify_notify_onsnatch = 0
libnotify_notify_onsubtitledownload = 0
use_libnotify = 0
[MORETHANTV]
morethantv = 0
morethantv_cookies = ""
morethantv_enable_backlog = 1
morethantv_enable_daily = 1
morethantv_freeleech = 0
morethantv_minleech = 0
morethantv_minseed = 1
morethantv_password = ""
morethantv_ratio = ""
morethantv_search_fallback = 0
morethantv_search_mode = eponly
morethantv_username = ""
[NCORE_CC]
ncore_cc = 0
ncore_cc_cookies = ""
ncore_cc_enable_backlog = 1
ncore_cc_enable_daily = 1
ncore_cc_minleech = 0
ncore_cc_minseed = 1
ncore_cc_password = ""
ncore_cc_ratio = ""
ncore_cc_search_fallback = 0
ncore_cc_search_mode = eponly
ncore_cc_username = ""
[NEBULANCE]
nebulance = 0
nebulance_cookies = ""
nebulance_enable_backlog = 1
nebulance_enable_daily = 1
nebulance_freeleech = 0
nebulance_minleech = 0
nebulance_minseed = 1
nebulance_password = ""
nebulance_ratio = ""
nebulance_search_fallback = 0
nebulance_search_mode = eponly
nebulance_username = ""
[NEWPCT]
newpct = 0
newpct_cookies = ""
newpct_enable_backlog = 1
newpct_enable_daily = 1
newpct_onlyspasearch = 0
newpct_ratio = ""
newpct_search_fallback = 0
newpct_search_mode = eponly
[NMA]
nma_api = ""
nma_notify_ondownload = 0
nma_notify_onsnatch = 0
nma_notify_onsubtitledownload = 0
nma_priority = 0
use_nma = 0
[NMJ]
nmj_database = ""
nmj_host = ""
nmj_mount = ""
use_nmj = 0
[NMJv2]
nmjv2_database = ""
nmjv2_dbloc = ""
nmjv2_host = ""
use_nmjv2 = 0
[NORBITS]
norbits = 0
norbits_cookies = ""
norbits_enable_backlog = 1
norbits_enable_daily = 1
norbits_minleech = 0
norbits_minseed = 1
norbits_passkey = ""
norbits_ratio = ""
norbits_search_fallback = 0
norbits_search_mode = eponly
norbits_username = ""
[NYAA]
nyaa = 0
nyaa_confirmed = 1
nyaa_cookies = ""
nyaa_enable_backlog = 1
nyaa_enable_daily = 1
nyaa_minleech = 0
nyaa_minseed = 1
nyaa_ratio = ""
nyaa_search_fallback = 0
nyaa_search_mode = eponly
[NZBFINDER_WS]
nzbfinder_ws = 0
nzbfinder_ws_enable_backlog = 1
nzbfinder_ws_enable_daily = 1
nzbfinder_ws_search_fallback = 0
nzbfinder_ws_search_mode = eponly
[NZBGEEK]
nzbgeek = 1
nzbgeek_enable_backlog = 1
nzbgeek_enable_daily = 1
nzbgeek_search_fallback = 0
nzbgeek_search_mode = eponly
[NZBS_ORG]
nzbs_org = 0
nzbs_org_enable_backlog = 1
nzbs_org_enable_daily = 1
nzbs_org_search_fallback = 0
nzbs_org_search_mode = eponly
[NZB_CAT]
nzb_cat = 0
nzb_cat_enable_backlog = 1
nzb_cat_enable_daily = 1
nzb_cat_search_fallback = 0
nzb_cat_search_mode = eponly
[NZBget]
nzbget_category = tv
nzbget_category_anime = anime
nzbget_category_anime_backlog = anime
nzbget_category_backlog = tv
nzbget_host = ""
nzbget_password = tegbzn6789
nzbget_priority = 100
nzbget_use_https = 0
nzbget_username = nzbget
[NZBs]
nzbs = 0
nzbs_hash = ""
nzbs_uid = ""
[Newzbin]
newzbin = 0
newzbin_password = ""
newzbin_username = ""
[Newznab]
newznab_data = "NZB.Cat|https://nzb.cat/||5030,5040,5010|0|eponly|0|1|1!!!NZBGeek|https://api.nzbgeek.info/|{{ aws_ssm_sickrage_nzbgeek_api_key }}|5030,5040|1|eponly|0|1|1!!!NZBs.org|https://nzbs.org/||5030,5040|0|eponly|0|1|1!!!Usenet-Crawler|https://www.usenet-crawler.com/||5030,5040|0|eponly|0|1|1!!!DOGnzb|https://api.dognzb.cr/|{{ aws_ssm_sickrage_dognzb_api_key }}||1|eponly|0|1|1"
[OMGWTFNZBS]
omgwtfnzbs = 0
omgwtfnzbs_api_key = ""
omgwtfnzbs_enable_backlog = 1
omgwtfnzbs_enable_daily = 1
omgwtfnzbs_search_fallback = 0
omgwtfnzbs_search_mode = eponly
omgwtfnzbs_username = ""
[PRETOME]
pretome = 0
pretome_cookies = ""
pretome_enable_backlog = 1
pretome_enable_daily = 1
pretome_minleech = 0
pretome_minseed = 1
pretome_password = ""
pretome_pin = ""
pretome_ratio = ""
pretome_search_fallback = 0
pretome_search_mode = eponly
pretome_username = ""
[Plex]
plex_client_host = ""
plex_client_password = ""
plex_client_username = ""
plex_notify_ondownload = 0
plex_notify_onsnatch = 0
plex_notify_onsubtitledownload = 0
plex_server_host = "{{ usenet_docker_network_gateway }}:32400"
plex_server_https = 0
plex_server_password = ""
plex_server_token = "{{ aws_ssm_plex_token }}"
plex_server_username = ""
plex_update_library = 1
use_plex_client = 0
use_plex_server = 0
[Prowl]
prowl_api = ""
prowl_message_title = SickRage
prowl_notify_ondownload = 0
prowl_notify_onsnatch = 0
prowl_notify_onsubtitledownload = 0
prowl_priority = 0
use_prowl = 0
[Pushalot]
pushalot_authorizationtoken = ""
pushalot_notify_ondownload = 0
pushalot_notify_onsnatch = 0
pushalot_notify_onsubtitledownload = 0
use_pushalot = 0
[Pushbullet]
pushbullet_api = ""
pushbullet_channel = ""
pushbullet_device = ""
pushbullet_notify_ondownload = 0
pushbullet_notify_onsnatch = 0
pushbullet_notify_onsubtitledownload = 0
use_pushbullet = 0
[Pushover]
pushover_apikey = ""
pushover_device = ""
pushover_notify_ondownload = 0
pushover_notify_onsnatch = 0
pushover_notify_onsubtitledownload = 0
pushover_priority = 0
pushover_sound = pushover
pushover_userkey = ""
use_pushover = 0
[RARBG]
rarbg = 0
rarbg_cookies = ""
rarbg_enable_backlog = 1
rarbg_enable_daily = 1
rarbg_minleech = 0
rarbg_minseed = 1
rarbg_ranked = 1
rarbg_ratio = ""
rarbg_search_fallback = 0
rarbg_search_mode = eponly
rarbg_sorting = seeders
[SABnzbd]
sab_apikey = "{{ aws_ssm_sabnzbd_api_key }}"
sab_category = sickrage
sab_category_anime = sickrage
sab_category_anime_backlog = sickrage
sab_category_backlog = sickrage
sab_forced = 0
sab_host = http://sabnzbd:8080/
sab_password = ""
sab_username = ""
[SCENEACCESS]
sceneaccess = 0
sceneaccess_cookies = ""
sceneaccess_enable_backlog = 1
sceneaccess_enable_daily = 1
sceneaccess_minleech = 0
sceneaccess_minseed = 1
sceneaccess_password = ""
sceneaccess_ratio = ""
sceneaccess_search_fallback = 0
sceneaccess_search_mode = eponly
sceneaccess_username = ""
[SCENETIME]
scenetime = 0
scenetime_cookies = ""
scenetime_enable_backlog = 1
scenetime_enable_daily = 1
scenetime_minleech = 0
scenetime_minseed = 1
scenetime_password = ""
scenetime_ratio = ""
scenetime_search_fallback = 0
scenetime_search_mode = eponly
scenetime_username = ""
[SHAZBAT_TV]
shazbat_tv = 0
shazbat_tv_cookies = ""
shazbat_tv_enable_backlog = 0
shazbat_tv_enable_daily = 1
shazbat_tv_options = ""
shazbat_tv_passkey = ""
shazbat_tv_ratio = ""
shazbat_tv_search_fallback = 0
shazbat_tv_search_mode = eponly
[SKYTORRENTS]
skytorrents = 0
skytorrents_cookies = ""
skytorrents_custom_url = ""
skytorrents_enable_backlog = 1
skytorrents_enable_daily = 1
skytorrents_minleech = 0
skytorrents_minseed = 1
skytorrents_ratio = ""
skytorrents_search_fallback = 0
skytorrents_search_mode = eponly
[SPEEDCD]
speedcd = 0
speedcd_cookies = ""
speedcd_enable_backlog = 1
speedcd_enable_daily = 1
speedcd_freeleech = 0
speedcd_minleech = 0
speedcd_minseed = 1
speedcd_password = ""
speedcd_ratio = ""
speedcd_search_fallback = 0
speedcd_search_mode = eponly
speedcd_username = ""
[Slack]
slack_notify_download = 0
slack_notify_snatch = 0
slack_webhook = ""
use_slack = 0
[Subtitles]
SUBTITLES_SERVICES_ENABLED = 1|1|1|1|1|0|0|0|0
SUBTITLES_SERVICES_LIST = "addic7ed,opensubtitles,podnapisi,thesubdb,tvsubtitles,legendastv,shooter,subscenter,itasa"
addic7ed_password = "{{ aws_ssm_sickrage_addic7ed_password }}"
addic7ed_username = "{{ aws_ssm_sickrage_addic7ed_username }}"
embedded_subtitles_all = 0
itasa_password = ""
itasa_username = ""
legendastv_password = ""
legendastv_username = ""
opensubtitles_password = "{{ aws_ssm_sickrage_opensubtitles_password }}"
opensubtitles_username = "{{ aws_ssm_sickrage_opensubtitles_username }}"
subscenter_password = ""
subscenter_username = ""
subtitles_default = 1
subtitles_dir = ""
subtitles_extra_scripts = ""
subtitles_finder_frequency = 1
subtitles_hearing_impaired = 0
subtitles_history = 1
subtitles_include_specials = 1
subtitles_keep_only_wanted = 1
subtitles_languages = fre,eng
subtitles_multi = 1
subtitles_perfect_match = 1
use_subtitles = 1
[SynologyNotifier]
synologynotifier_notify_ondownload = 0
synologynotifier_notify_onsnatch = 0
synologynotifier_notify_onsubtitledownload = 0
use_synologynotifier = 0
[Synology]
host = ""
password = ""
path = ""
use_synoindex = 0
username = ""
[THEPIRATEBAY]
thepiratebay = 0
thepiratebay_confirmed = 1
thepiratebay_cookies = ""
thepiratebay_custom_url = ""
thepiratebay_enable_backlog = 1
thepiratebay_enable_daily = 1
thepiratebay_minleech = 0
thepiratebay_minseed = 1
thepiratebay_ratio = ""
thepiratebay_search_fallback = 0
thepiratebay_search_mode = eponly
[TNTVILLAGE]
tntvillage = 0
tntvillage_cat = 0
tntvillage_cookies = ""
tntvillage_enable_backlog = 1
tntvillage_enable_daily = 1
tntvillage_engrelease = 0
tntvillage_minleech = 0
tntvillage_minseed = 1
tntvillage_password = ""
tntvillage_ratio = ""
tntvillage_search_fallback = 0
tntvillage_search_mode = eponly
tntvillage_subtitle = 0
tntvillage_username = ""
[TOKYOTOSHOKAN]
tokyotoshokan = 0
tokyotoshokan_cookies = ""
tokyotoshokan_enable_backlog = 1
tokyotoshokan_enable_daily = 1
tokyotoshokan_minleech = 0
tokyotoshokan_minseed = 1
tokyotoshokan_ratio = ""
tokyotoshokan_search_fallback = 0
tokyotoshokan_search_mode = eponly
[TORRENT9]
torrent9 = 0
torrent9_cookies = ""
torrent9_enable_backlog = 1
torrent9_enable_daily = 1
torrent9_minleech = 0
torrent9_minseed = 1
torrent9_ratio = ""
torrent9_search_fallback = 0
torrent9_search_mode = eponly
[TORRENTBYTES]
torrentbytes = 0
torrentbytes_cookies = ""
torrentbytes_enable_backlog = 1
torrentbytes_enable_daily = 1
torrentbytes_freeleech = 0
torrentbytes_minleech = 0
torrentbytes_minseed = 1
torrentbytes_password = ""
torrentbytes_ratio = ""
torrentbytes_search_fallback = 0
torrentbytes_search_mode = eponly
torrentbytes_username = ""
[TORRENTDAY]
torrentday = 0
torrentday_cookies = ""
torrentday_custom_url = ""
torrentday_enable_backlog = 1
torrentday_enable_daily = 1
torrentday_freeleech = 0
torrentday_minleech = 0
torrentday_minseed = 1
torrentday_password = ""
torrentday_ratio = ""
torrentday_search_fallback = 0
torrentday_search_mode = eponly
torrentday_username = ""
[TORRENTLEECH]
torrentleech = 0
torrentleech_cookies = ""
torrentleech_enable_backlog = 1
torrentleech_enable_daily = 1
torrentleech_minleech = 0
torrentleech_minseed = 1
torrentleech_password = ""
torrentleech_ratio = ""
torrentleech_search_fallback = 0
torrentleech_search_mode = eponly
torrentleech_username = ""
[TORRENTPROJECT]
torrentproject = 0
torrentproject_cookies = ""
torrentproject_custom_url = ""
torrentproject_enable_backlog = 1
torrentproject_enable_daily = 1
torrentproject_minleech = 0
torrentproject_minseed = 1
torrentproject_ratio = ""
torrentproject_search_fallback = 0
torrentproject_search_mode = eponly
[TORRENTZ]
torrentz = 0
torrentz_cookies = ""
torrentz_enable_backlog = 1
torrentz_enable_daily = 1
torrentz_minleech = 0
torrentz_minseed = 1
torrentz_ratio = ""
torrentz_search_fallback = 0
torrentz_search_mode = eponly
[TORRENT]
torrent_auth_type = ""
torrent_high_bandwidth = 0
torrent_host = ""
torrent_label = ""
torrent_label_anime = ""
torrent_password = ""
torrent_path = ""
torrent_paused = 0
torrent_rpcurl = transmission
torrent_seed_time = 0
torrent_username = ""
torrent_verify_cert = 0
[TVCHAOSUK]
tvchaosuk = 0
tvchaosuk_cookies = ""
tvchaosuk_enable_backlog = 1
tvchaosuk_enable_daily = 1
tvchaosuk_freeleech = 0
tvchaosuk_minleech = 0
tvchaosuk_minseed = 1
tvchaosuk_password = ""
tvchaosuk_ratio = ""
tvchaosuk_search_fallback = 0
tvchaosuk_search_mode = eponly
tvchaosuk_username = ""
[Telegram]
telegram_apikey = ""
telegram_id = ""
telegram_notify_ondownload = 0
telegram_notify_onsnatch = 0
telegram_notify_onsubtitledownload = 0
use_telegram = 0
[TorrentRss]
torrentrss_data = ""
[Trakt]
trakt_access_token = ""
trakt_blacklist_name = ""
trakt_default_indexer = 1
trakt_method_add = 0
trakt_refresh_token = ""
trakt_remove_serieslist = 0
trakt_remove_show_from_sickrage = 0
trakt_remove_watchlist = 0
trakt_start_paused = 0
trakt_sync = 0
trakt_sync_remove = 0
trakt_sync_watchlist = 0
trakt_timeout = 30
trakt_use_recommended = 0
trakt_username = ""
use_trakt = 0
[Twilio]
twilio_account_sid = ""
twilio_auth_token = ""
twilio_notify_ondownload = 0
twilio_notify_onsnatch = 0
twilio_notify_onsubtitledownload = 0
twilio_phone_sid = ""
twilio_to_number = ""
use_twilio = 0
[Twitter]
twitter_dmto = ""
twitter_notify_ondownload = 0
twitter_notify_onsnatch = 0
twitter_notify_onsubtitledownload = 0
twitter_password = ""
twitter_prefix = SickRage
twitter_usedm = 0
twitter_username = ""
use_twitter = 0
[USENET_CRAWLER]
usenet_crawler = 0
usenet_crawler_enable_backlog = 1
usenet_crawler_enable_daily = 1
usenet_crawler_search_fallback = 0
usenet_crawler_search_mode = eponly
[XTHOR]
xthor = 0
xthor_api_key = ""
xthor_cookies = ""
xthor_enable_backlog = 1
xthor_enable_daily = 1
xthor_freeleech = 0
xthor_ratio = ""
xthor_search_fallback = 0
xthor_search_mode = eponly
[YGGTORRENT]
yggtorrent = 0
yggtorrent_cookies = ""
yggtorrent_enable_backlog = 1
yggtorrent_enable_daily = 1
yggtorrent_minleech = 0
yggtorrent_minseed = 1
yggtorrent_password = ""
yggtorrent_ratio = ""
yggtorrent_search_fallback = 0
yggtorrent_search_mode = eponly
yggtorrent_username = ""
[pyTivo]
pyTivo_update_library = 0
pytivo_host = ""
pytivo_notify_ondownload = 0
pytivo_notify_onsnatch = 0
pytivo_notify_onsubtitledownload = 0
pytivo_share_name = ""
pytivo_tivo_name = ""
use_pytivo = 0
