[ANIDB]
anidb_password = "{{ aws_ssm_sickrage_anidb_password }}"
anidb_use_mylist = 0
anidb_username = "{{ aws_ssm_sickrage_anidb_username }}"
use_anidb = 1
[ANIME]
anime_split_home = 0
[Blackhole]
nzb_dir = ""
torrent_dir = ""
[Boxcar2]
boxcar2_accesstoken = ""
boxcar2_notify_ondownload = 0
boxcar2_notify_onsnatch = 0
boxcar2_notify_onsubtitledownload = 0
use_boxcar2 = 0
[Discord]
discord_avatar_url = ""
discord_name = ""
discord_notify_ondownload = 0
discord_notify_onsnatch = 0
discord_notify_onsubtitledownload = 0
discord_tts = 0
discord_webhook = ""
use_discord = 0
[Email]
email_from = ""
email_host = ""
email_list = ""
email_notify_ondownload = 0
email_notify_onsnatch = 0
email_notify_onsubtitledownload = 0
email_password = ""
email_port = 25
email_tls = 0
email_user = ""
use_email = 0
[Emby]
emby_apikey = ""
emby_host = ""
emby_notify_ondownload = 0
emby_notify_onsnatch = 0
emby_notify_onsubtitledownload = 0
use_emby = 0
[FailedDownloads]
delete_failed = 1
[FailedSnatches]
failed_snatch_age = 2
use_failed_snatcher = 0
[FreeMobile]
freemobile_apikey = ""
freemobile_id = ""
freemobile_notify_ondownload = 0
freemobile_notify_onsnatch = 0
freemobile_notify_onsubtitledownload = 0
use_freemobile = 0
[GUI]
coming_eps_display_paused = 0
coming_eps_layout = banner
coming_eps_missed_range = 7
coming_eps_sort = date
date_preset = %x
display_show_specials = 1
fanart_background = 1
fanart_background_opacity = 0.4
filter_row = 1
fuzzy_dating = 0
gui_lang = ""
history_layout = detailed
history_limit = 100
home_layout = simple
poster_sortby = name
poster_sortdir = 1
theme_name = dark
time_preset = %I:%M:%S %p
timezone_display = local
trim_zero = 0
[General]
add_shows_wo_dir = 0
airdate_episodes = 1
allow_high_priority = 1
allowed_extensions = "srt,nfo,srr,sfv"
allowed_video_file_exts = avi, mkv, mpg, mpeg, wmv, ogm, mp4, iso, img, divx, m2ts, m4v, ts, flv, f4v, mov, rmvb, vob, dvr-ms, wtv, ogv, 3gp, webm, tp
anime_default = 0
anon_redirect = http://dereferer.org/?
api_key = "{{ aws_ssm_sickrage_sickrage_api_key }}"
app_oauth_token = ""
app_sub = ""
auto_update = 0
autopostprocessor_frequency = 10
backlog_days = 7
backlog_frequency = 160
calendar_icons = 0
calendar_unprotected = 0
check_propers_interval = daily
config_version = 11
cpu_preset = NORMAL
create_missing_show_dirs = 0
dailysearch_frequency = 40
debug = 0
default_page = home
del_rar_contents = 0
delete_non_associated_files = 1
display_all_seasons = 1
download_propers = 1
download_unverified_magnet_link = 0
download_url = ""
enable_api_providers_cache = 1
enable_https = 0
enable_rss_cache = 1
enable_rss_cache_valid_shows = 0
enable_upnp = 1
encryption_secret = "{{ aws_ssm_sickrage_encryption_secret }}"
encryption_version = 0
ep_default_deleted_status = 6
extra_scripts = ""
file_timestamp_timezone = network
flatten_folders_default = 0
git_autoissues = 0
git_newver = 0
git_password = None
git_path = None
git_reset = 1
git_username = None
handle_reverse_proxy = 1
https_cert = server.crt
https_key = server.key
ignore_words = "german,french,core2hd,dutch,swedish,reenc,MrLss"
ignored_subs_list = "dk,fin,heb,kor,nor,nordic,pl,swe"
indexerDefaultLang = en
indexer_default = 0
indexer_timeout = 20
keep_processed_dir = 0
last_db_compact = 1540925870
launch_browser = 0
log_nr = 5
log_size = 1048576
move_associated_files = 1
naming_abd_pattern = %SN - %A.D - %EN
naming_anime = 3
naming_anime_multi_ep = 1
naming_anime_pattern = Season %0S/%SN - S%0SE%0E - %EN
naming_custom_abd = 0
naming_custom_anime = 0
naming_custom_sports = 0
naming_multi_ep = 1
naming_pattern = Season %0S/%SN - S%0SE%0E - %EN
naming_sports_pattern = %SN - %A-D - %EN
naming_strip_year = 0
nfo_rename = 1
no_delete = 0
no_restart = 0
notify_on_login = 0
notify_on_update = 1
nzb_method = sabnzbd
pip_path = pip
postpone_if_sync_files = 1
process_automatically = 0
process_method = move
processor_follow_symlinks = 0
proxy_indexers = 0
proxy_setting = ""
quality_default = 164
random_user_agent = 0
randomize_providers = 0
rename_episodes = 1
require_words = ""
root_dirs = 0|/media/TV
scene_default = 0
showupdate_hour = 3
showupdate_stale = 1
skip_downloaded_default = 0
skip_removed_files = 0
socket_timeout = 30
sort_article = 0
ssl_verify = 1
status_default = 5
status_default_after = 3
sync_files = "!sync,lftp-pget-status,bts,!qb,!qB"
torrent_file_to_magnet = 0
torrent_method = blackhole
trash_remove_show = 0
trash_rotate_logs = 0
tv_download_dir = ""
unpack = 1
unpack_dir = ""
update_frequency = 12
use_listview = 0
use_nzbs = 1
use_torrents = 0
usenet_retention = 2031
version_notify = 1
view_changelog = 0
web_cookie_secret = "{{ aws_ssm_sickrage_web_cookie_secret }}"
web_external_port = 51075
web_host = 0.0.0.0
web_ipv6 = 0
web_log = 0
web_port = 8081
web_root = ""
web_use_gzip = 1
[Growl]
growl_host = ""
growl_notify_ondownload = 0
growl_notify_onsnatch = 0
growl_notify_onsubtitledownload = 0
growl_password = ""
use_growl = 0
[JOIN]
join_apikey = ""
join_id = ""
join_notify_ondownload = 0
join_notify_onsnatch = 0
join_notify_onsubtitledownload = 0
use_join = 0
[KODI]
kodi_always_on = 1
kodi_host = ""
kodi_notify_ondownload = 0
kodi_notify_onsnatch = 0
kodi_notify_onsubtitledownload = 0
kodi_password = ""
kodi_update_full = 0
kodi_update_library = 0
kodi_update_onlyfirst = 0
kodi_username = ""
use_kodi = 0
[Libnotify]
libnotify_notify_ondownload = 0
libnotify_notify_onsnatch = 0
libnotify_notify_onsubtitledownload = 0
use_libnotify = 0
[MetadataProviders]
kodi = 1|1|1|1|1|1|1|1|1|1|0
kodi_12plus = 0|0|0|0|0|0|0|0|0|0|0
mede8er = 0|0|0|0|0|0|0|0|0|0|0
mediabrowser = 0|0|0|0|0|0|0|0|0|0|0
sony_ps3 = 0|0|0|0|0|0|0|0|0|0|0
tivo = 0|0|0|0|0|0|0|0|0|0|0
wdtv = 0|0|0|0|0|0|0|0|0|0|0
[NMA]
nma_api = ""
nma_notify_ondownload = 0
nma_notify_onsnatch = 0
nma_notify_onsubtitledownload = 0
nma_priority = 0
use_nma = 0
[NMJ]
nmj_database = ""
nmj_host = ""
nmj_mount = ""
use_nmj = 0
[NMJv2]
nmjv2_database = ""
nmjv2_dbloc = ""
nmjv2_host = ""
use_nmjv2 = 0
[NZBget]
nzbget_category = tv
nzbget_category_anime = anime
nzbget_category_anime_backlog = anime
nzbget_category_backlog = tv
nzbget_host = ""
nzbget_password = tegbzn6789
nzbget_priority = 100
nzbget_use_https = 0
nzbget_username = nzbget
[NZBs]
nzbs = 0
nzbs_hash = ""
nzbs_uid = ""
[Newzbin]
newzbin = 0
newzbin_password = ""
newzbin_username = ""
[Plex]
plex_host = ""
plex_notify_ondownload = 0
plex_notify_onsnatch = 0
plex_notify_onsubtitledownload = 0
plex_password = ""
plex_server_host = "{{ usenet_docker_network_gateway }}:32400"
plex_server_token = "{{ aws_ssm_plex_token }}"
plex_update_library = 1
plex_username = ""
use_plex = 0
[Providers]
custom_providers = "newznab|NZB.Cat|https://nzb.cat/||5030,5040,5010!!!newznab|NZBGeek|https://api.nzbgeek.info/|{{ aws_ssm_sickrage_nzbgeek_api_key }}|5030,5040!!!newznab|NZBs.org|https://nzbs.org/||5030,5040!!!newznab|Usenet-Crawler|https://www.usenet-crawler.com/||5030,5040!!!newznab|DOGnzb|https://api.dognzb.cr/|{{ aws_ssm_sickrage_dognzb_api_key }}|!!!"
providers_order = horriblesubs, skytorrents, hounddawgs, hdbits, anizb, abnormal, nzbs_org, alpharatio, scenetime, rarbg, hdspace, torrentbytes, torrentz, nyaatorrents, elitetorrent, btn, tntvillage, xthor, shazbat_tv, torrentproject, immortalseed, danishbits, morethantv, tvchaosuk, binsearch, iptorrents, yggtorrent, ncore, pretome, torrentday, usenet_crawler, hdtorrents, bitsoup, newpct, tokyotoshokan, speedcd, thepiratebay, torrent9, bitcannon, nebulance, dognzb, nzb_cat, hd4free, filelist, torrentleech, showrss, limetorrents, norbits, nzbgeek, zooqle, archetorrent
[[abnormal]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
password = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[alpharatio]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
password = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[anizb]]
api_key = ""
cookies = ""
enable_backlog = ""
enable_daily = ""
enabled = 0
search_fallback = ""
search_mode = ""
username = ""
[[archetorrent]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
freeleech = 0
minleech = 0
minseed = 1
password = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[binsearch]]
api_key = ""
cookies = ""
enable_backlog = 0
enable_daily = 1
enabled = 0
search_fallback = 0
search_mode = eponly
username = ""
[[bitcannon]]
api_key = ""
cookies = ""
custom_url = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
ratio = ""
search_fallback = 0
search_mode = eponly
[[bitsoup]]
cookies = ""
enable_backlog = ""
enable_daily = ""
enabled = 0
minleech = ""
minseed = ""
password = ""
ratio = ""
search_fallback = ""
search_mode = ""
username = ""
[[btn]]
api_key = ""
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = ""
minseed = ""
ratio = ""
reject_m2ts = ""
search_fallback = 0
search_mode = eponly
[[danishbits]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
freeleech = 0
minleech = 0
minseed = 1
passkey = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[dognzb]]
api_key = ""
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 1
key = ""
search_fallback = 0
search_mode = eponly
username = ""
[[elitetorrent]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
onlyspasearch = 0
ratio = ""
search_fallback = 0
search_mode = eponly
[[filelist]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
password = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[hd4free]]
api_key = ""
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
freeleech = 0
minleech = 0
minseed = 1
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[hdbits]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
passkey = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[hdspace]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
password = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[hdtorrents]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
freeleech = 0
minleech = 0
minseed = 1
password = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[horriblesubs]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
ratio = ""
search_fallback = 0
search_mode = eponly
[[hounddawgs]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
freeleech = 0
minleech = 0
minseed = 1
password = ""
ranked = 1
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[immortalseed]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
freeleech = 0
minleech = 0
minseed = 1
passkey = ""
password = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[iptorrents]]
cookies = ""
custom_url = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
freeleech = 0
minleech = 0
minseed = 1
password = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[limetorrents]]
confirmed = ""
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
ratio = ""
search_fallback = 0
search_mode = eponly
[[morethantv]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
password = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[ncore]]
cookies = ""
enable_backlog = ""
enable_daily = ""
enabled = 0
minleech = ""
minseed = ""
password = ""
ratio = ""
search_fallback = ""
search_mode = ""
username = ""
[[nebulance]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
password = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[newpct]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
onlyspasearch = 0
ratio = ""
search_fallback = 0
search_mode = eponly
[[norbits]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
passkey = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[nyaatorrents]]
confirmed = ""
cookies = ""
enable_backlog = ""
enable_daily = ""
enabled = 0
minleech = ""
minseed = ""
ratio = ""
search_fallback = ""
search_mode = ""
[[nzb_cat]]
api_key = ""
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
key = ""
search_fallback = 0
search_mode = eponly
username = ""
[[nzbgeek]]
api_key = ""
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 1
key = ""
search_fallback = 0
search_mode = eponly
username = ""
[[nzbs_org]]
api_key = ""
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
key = ""
search_fallback = 0
search_mode = eponly
username = ""
[[pretome]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
password = ""
pin = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[rarbg]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
ranked = 1
ratio = ""
search_fallback = 0
search_mode = eponly
sorting = seeders
[[scenetime]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
password = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[shazbat_tv]]
cookies = ""
enable_backlog = 0
enable_daily = 1
enabled = 0
options = ""
passkey = ""
ratio = ""
search_fallback = 0
search_mode = eponly
[[showrss]]
cookies = ""
enable_backlog = ""
enable_daily = ""
enabled = 0
ratio = ""
search_fallback = ""
search_mode = ""
[[skytorrents]]
cookies = ""
custom_url = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
ratio = ""
search_fallback = 0
search_mode = eponly
[[speedcd]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
freeleech = 0
minleech = 0
minseed = 1
password = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[thepiratebay]]
confirmed = 1
cookies = ""
custom_url = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
ratio = ""
search_fallback = 0
search_mode = eponly
[[tntvillage]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
engrelease = 0
minleech = 0
minseed = 1
ratio = ""
search_fallback = 0
search_mode = eponly
subtitle = 0
[[tokyotoshokan]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
ratio = ""
search_fallback = 0
search_mode = eponly
[[torrent9]]
cookies = ""
custom_url = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
ratio = ""
search_fallback = 0
search_mode = eponly
[[torrentbytes]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
freeleech = 0
minleech = 0
minseed = 1
password = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[torrentday]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
freeleech = 0
minleech = 0
minseed = 1
password = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[torrentleech]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
password = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[torrentproject]]
cookies = ""
custom_url = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
ratio = ""
search_fallback = 0
search_mode = eponly
[[torrentz]]
confirmed = ""
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
ratio = ""
search_fallback = 0
search_mode = eponly
[[tvchaosuk]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
password = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[usenet_crawler]]
api_key = ""
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
key = ""
search_fallback = 0
search_mode = eponly
username = ""
[[xthor]]
confirmed = ""
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
freeleech = 0
minleech = ""
minseed = ""
passkey = ""
ratio = ""
search_fallback = 0
search_mode = eponly
[[yggtorrent]]
cookies = ""
enable_backlog = 1
enable_daily = 1
enabled = 0
minleech = 0
minseed = 1
password = ""
ratio = ""
search_fallback = 0
search_mode = eponly
username = ""
[[zooqle]]
cookies = ""
enable_backlog = ""
enable_daily = ""
enabled = 0
minleech = ""
minseed = ""
ratio = ""
search_fallback = ""
search_mode = ""
[Prowl]
prowl_api = ""
prowl_notify_ondownload = 0
prowl_notify_onsnatch = 0
prowl_notify_onsubtitledownload = 0
prowl_priority = 0
use_prowl = 0
[Pushalot]
pushalot_authorizationtoken = ""
pushalot_notify_ondownload = 0
pushalot_notify_onsnatch = 0
pushalot_notify_onsubtitledownload = 0
use_pushalot = 0
[Pushbullet]
pushbullet_api = ""
pushbullet_device = ""
pushbullet_notify_ondownload = 0
pushbullet_notify_onsnatch = 0
pushbullet_notify_onsubtitledownload = 0
use_pushbullet = 0
[Pushover]
pushover_apikey = ""
pushover_device = ""
pushover_notify_ondownload = 0
pushover_notify_onsnatch = 0
pushover_notify_onsubtitledownload = 0
pushover_sound = pushover
pushover_userkey = ""
use_pushover = 0
[Quality]
sizes = "{0: 0, 32768: 0, 2: 700, 4: 1200, 1: 700, 8: 1200, 64: 1400, 128: 1200, 256: 1400, 16: 1200, 32: 1200}"
[SABnzbd]
sab_apikey = "{{ aws_ssm_sabnzbd_api_key }}"
sab_category = sickrage
sab_category_anime = sickrage
sab_category_anime_backlog = sickrage
sab_category_backlog = sickrage
sab_forced = 0
sab_host = http://sabnzbd:8080/
sab_password = ""
sab_username = ""
[Slack]
slack_notify_ondownload = 0
slack_notify_onsnatch = 0
slack_notify_onsubtitledownload = 0
slack_webhook = ""
use_slack = 0
[Subtitles]
addic7ed_password = "{{ aws_ssm_sickrage_addic7ed_password }}"
addic7ed_username = "{{ aws_ssm_sickrage_addic7ed_username }}"
embedded_subtitles_all = 0
itasa_password = ""
itasa_username = ""
legendastv_password = ""
legendastv_username = ""
opensubtitles_password = "{{ aws_ssm_sickrage_opensubtitles_password }}"
opensubtitles_username = "{{ aws_ssm_sickrage_opensubtitles_username }}"
subtitles_default = 1
subtitles_dir = ""
subtitles_extra_scripts = ""
subtitles_finder_frequency = 1
subtitles_hearing_impaired = 0
subtitles_history = 1
subtitles_languages = fre,eng
subtitles_multi = 1
subtitles_services_enabled = ""
subtitles_services_list = ,
use_subtitles = 1
[SynologyNotifier]
synologynotifier_notify_ondownload = 0
synologynotifier_notify_onsnatch = 0
synologynotifier_notify_onsubtitledownload = 0
use_synologynotifier = 0
[Synology]
use_synoindex = 0
[TELEGRAM]
telegram_apikey = ""
telegram_id = ""
telegram_notify_ondownload = 0
telegram_notify_onsnatch = 0
telegram_notify_onsubtitledownload = 0
use_telegram = 0
[TORRENT]
torrent_auth_type = ""
torrent_high_bandwidth = 0
torrent_host = ""
torrent_label = ""
torrent_label_anime = ""
torrent_password = ""
torrent_path = ""
torrent_paused = 0
torrent_rpcurl = transmission
torrent_seed_time = 0
torrent_username = ""
torrent_verify_cert = 0
[Trakt]
trakt_blacklist_name = ""
trakt_default_indexer = 1
trakt_method_add = 0
trakt_oauth_token = {}
trakt_remove_serieslist = 0
trakt_remove_show_from_sickrage = 0
trakt_remove_watchlist = 0
trakt_start_paused = 0
trakt_sync = 0
trakt_sync_remove = 0
trakt_sync_watchlist = 0
trakt_timeout = 30
trakt_use_recommended = 0
trakt_username = ""
use_trakt = 0
[Twilio]
twilio_account_sid = ""
twilio_auth_token = ""
twilio_notify_ondownload = 0
twilio_notify_onsnatch = 0
twilio_notify_onsubtitledownload = 0
twilio_phone_sid = ""
twilio_to_number = ""
use_twilio = 0
[Twitter]
twitter_dmto = ""
twitter_notify_ondownload = 0
twitter_notify_onsnatch = 0
twitter_notify_onsubtitledownload = 0
twitter_password = ""
twitter_prefix = SickRage
twitter_usedm = 0
twitter_username = ""
use_twitter = 0
[pyTivo]
pyTivo_update_library = 0
pytivo_host = ""
pytivo_notify_ondownload = 0
pytivo_notify_onsnatch = 0
pytivo_notify_onsubtitledownload = 0
pytivo_share_name = ""
pytivo_tivo_name = ""
use_pytivo = 0
[theTVDB]
thetvdb_apitoken = ""
