debug = false
insecureSkipVerify = true
logLevel = "INFO"
defaultEntryPoints = ["https","http"]

[accessLog]

[entryPoints]

  [entryPoints.http]
  address = ":80"

    [entryPoints.http.redirect]
    entryPoint = "https"

  [entryPoints.https]
  address = ":443"
  compress = true

    [entryPoints.https.tls]

[retry]

[api]

[docker]
endpoint = "unix:///var/run/docker.sock"
domain = "kohlby.fr"
watch = true
exposedByDefault = false

[acme]
email = "adrien.kohlbecker@gmail.com"
storage = "acme.json"
entryPoint = "https"
onHostRule = true

  [acme.dnsChallenge]
  provider = "cloudflare"

[file]

[backends]

  [backends.edgeos]

    [backends.edgeos.servers.server1]
    url = "https://10.123.0.1:443"
    weight = 1

  [backends.ipmi]

    [backends.ipmi.servers.server1]
    url = "https://10.123.0.10:443"
    weight = 1

[frontends]

  [frontends.edgeos]
  backend = "edgeos"
  priority = 20
  passHostHeader = true

    [frontends.edgeos.routes.test_1]
    rule = "Host:edgeos.kohlby.fr"

  [frontends.ipmi]
  backend = "ipmi"
  priority = 20
  passHostHeader = true

    [frontends.ipmi.routes.test_1]
    rule = "Host:ipmi.kohlby.fr"
