debug = false

logLevel = "INFO"
defaultEntryPoints = ["https","http"]

[accessLog]

[entryPoints]

  [entryPoints.http]
  address = ":80"

    [entryPoints.http.redirect]
    entryPoint = "https"

  [entryPoints.https]
  address = ":443"
  compress = true

    # require traffic to go through cloudflare
    [entryPoints.https.tls.ClientCA]
    files = ["/cloudflare-origin-pull-ca.pem"]
    optional = false

    [entryPoints.https.auth.digest]
    users = ["{{ aws_ssm_traefik_adrien_htdigest }}"]

    [entryPoints.https.forwardedHeaders]
    trustedIPs = ["{{ (lookup('url', 'https://www.cloudflare.com/ips-v6', wantlist=True) + lookup('url', 'https://www.cloudflare.com/ips-v4', wantlist=True)) | join('\", \"') }}"]

[retry]

[api]

[docker]
endpoint = "unix:///var/run/docker.sock"
domain = "kohlby.fr"
watch = true
exposedByDefault = false

[acme]
email = "adrien.kohlbecker@gmail.com"
storage = "acme.json"
entryPoint = "https"
onHostRule = true

  [acme.httpChallenge]
  entryPoint = "http"
