[NetDev]
Name=wg0
Kind=wireguard

[WireGuard]
# PublicKey={{ aws_ssm_wireguard_public_key }}
PrivateKey={{ aws_ssm_wireguard_private_key }}
ListenPort={{ wireguard_listen_port }}

# laptop
[WireGuardPeer]
PublicKey=TlQJW6mxFI3HQk5/rs3QepxjYB22tlf1ljUCAoHrGnk=
AllowedIPs=10.123.60.2/32

# phone
[WireGuardPeer]
PublicKey=IfYMZKwHODWIZPZ/sqlQHXcGyW5aQ8Hu9ffeQWqCzAE=
AllowedIPs=10.123.60.3/32
