# jinja2: lstrip_blocks: "True"
# quotes.service #######################################################################
[Unit]
Description=quotes
After=network-online.target
Wants=network-online.target
StartLimitInterval=600
StartLimitBurst=5

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
Delegate=yes
TimeoutSec=120
RestartSec=5
Type=notify
NotifyAccess=all

ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
    --cidfile=%t/%n.ctr-id \
    --cgroups=split \
    --sdnotify=healthy \
    --detach \
    --replace \
    --rm \
    --name quotes \
    --log-driver journald \
    --log-opt tag="quotes" \
    --publish 127.0.0.1:4567:4567/tcp \
    --health-cmd "curl --head --location --fail --silent --show-error --connect-timeout 1 --max-time 5 -o /dev/null http://localhost:4567/" \
    --health-start-period "10s" \
    localhost/quotes:latest
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id --time 60
ExecStopPost=/usr/bin/podman rm --force --ignore --cidfile=%t/%n.ctr-id

[Install]
WantedBy=default.target
