rules:
  brackets:
    min-spaces-inside: 1
    max-spaces-inside: 1
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 0
  commas:
    max-spaces-after: -1
  key-duplicates: enable
  octal-values: enable
