# airsonos.service #######################################################################
[Unit]
Description=Airsonos
After=docker.service
Requires=docker.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=120

ExecStartPre=-/usr/bin/docker kill airsonos.service
ExecStartPre=-/usr/bin/docker rm airsonos.service
ExecStartPre=/usr/bin/docker pull kohlby/airsonos
ExecStart=/usr/bin/docker run \
    --log-driver syslog \
    --log-opt tag="{{.Name}}" \
    --name airsonos.service \
    --net host \
    --volume /var/run/dbus:/var/run/dbus \
    kohlby/airsonos
ExecStop=/usr/bin/docker stop airsonos.service

[Install]
WantedBy=compose.service
