# airsonos.service #######################################################################
[Unit]
Description=Airsonos
After=docker.service
Requires=docker.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill airsonos.service
ExecStartPre=-/usr/bin/docker rm airsonos.service
ExecStartPre=/usr/bin/docker pull kohlby/airsonos
ExecStart=/usr/bin/docker run \
    --cap-add SYS_ADMIN \
    --log-driver=syslog \
    --log-opt tag=airsonos.service \
    --name airsonos.service \
    --net host \
    --security-opt seccomp=unconfined \
    --user root \
    kohlby/airsonos
ExecStop=/usr/bin/docker stop airsonos.service
TimeoutSec=120

[Install]
WantedBy=compose.service
