[defaults]
display_ok_hosts = false
display_skipped_hosts = false
callback_result_format = yaml
check_mode_markers = true
# callbacks_enabled = profile_tasks, profile_roles

host_key_checking = False
verbosity = 1
force_color = True

vault_password_file = vault.sh
inventory = hosts.ini

inject_facts_as_vars = True

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=600s -o UserKnownHostsFile=/dev/null -o ForwardAgent=yes
pipelining = True

[persistent_connection]
connect_timeout = 900

[diff]
always = True
