[Unit]
Description=Docker Compose Services
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=/usr/local/bin/docker-compose stop
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose stop
WorkingDirectory=/opt/services

[Install]
WantedBy=multi-user.target
