[Unit]
Description=Docker Compose Services
After=docker.service zfs-mount.service
Requires=docker.service zfs-mount.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=/usr/bin/env docker-compose stop
ExecStart=/usr/bin/env docker-compose up
ExecStop=/usr/bin/env docker-compose stop
WorkingDirectory=/opt/services

[Install]
WantedBy=multi-user.target
