# couchpotato.service #######################################################################
[Unit]
Description=Couchpotato
After=docker.service mnt-media.mount zfs-mount.service sabnzbd.service
Requires=docker.service mnt-media.mount zfs-mount.service sabnzbd.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=120
RestartSec=15

ExecStartPre=-/usr/bin/docker kill couchpotato.service
ExecStartPre=-/usr/bin/docker rm couchpotato.service
ExecStartPre=/usr/bin/docker pull kohlby/couchpotato
ExecStart=/usr/bin/docker run \
    --cap-add SYS_ADMIN \
    --log-driver syslog \
    --log-opt tag="{{.Name}}" \
    --name couchpotato.service \
    --network services \
    --security-opt seccomp=unconfined \
    --user root \
    --volume /mnt/docker/couchpotato:/data \
    --volume /mnt/media:/media \
    --volume /opt/ejson/keys:/opt/ejson/keys:ro \
    kohlby/couchpotato
ExecStop=/usr/bin/docker stop couchpotato.service

[Install]
WantedBy=compose.service
