# couchpotato.service #######################################################################
[Unit]
Description=Couchpotato
After=docker.service mnt-media.mount zfs-mount.service sabnzbd.service
Requires=docker.service mnt-media.mount zfs-mount.service sabnzbd.service
Wants=nginx.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill services_couchpotato
ExecStartPre=-/usr/bin/docker rm services_couchpotato
ExecStartPre=/usr/bin/docker pull kohlby/couchpotato
ExecStart=/usr/bin/docker run \
    --name services_couchpotato \
    --publish 5050:5050 \
    --volume /opt/ejson/keys:/opt/ejson/keys:ro \
    --volume /mnt/docker/couchpotato:/data \
    --volume /mnt/media:/media \
    --log-driver=syslog \
    --log-opt tag=compose.couchpotato \
    --cap-add SYS_ADMIN \
    --security-opt seccomp=unconfined \
    --user root \
    kohlby/couchpotato
ExecStop=/usr/bin/docker stop services_couchpotato
TimeoutSec=60

[Install]
WantedBy=compose.service
