# gitlab.service #######################################################################
[Unit]
Description=Gitlab
After=docker.service zfs-mount.service
Requires=docker.service zfs-mount.service
Wants=nginx.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill services_gitlab
ExecStartPre=-/usr/bin/docker rm services_gitlab
ExecStartPre=/usr/bin/docker pull akohlbecker/gitlab
ExecStart=/usr/bin/docker run \
    --name services_gitlab \
    --publish 2222:22 \
    --publish-service=gitlab.docker \
    --volume /opt/ejson/keys:/opt/ejson/keys:ro \
    --volume /mnt/docker/gitlab:/var/opt/gitlab \
    --volume /mnt/docker/gitlab-storage:/mnt/storage \
    --log-driver=syslog \
    --log-opt tag=compose.gitlab \
    --cap-add SYS_ADMIN \
    --security-opt seccomp=unconfined \
    --user root \
    akohlbecker/gitlab
ExecStop=/usr/bin/docker stop services_gitlab
TimeoutSec=120

[Install]
WantedBy=compose.service
