# gitlab-runner.service #######################################################################
[Unit]
Description=Airsonos
After=docker.service gitlab.service
Requires=docker.service gitlab.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=120
RestartSec=15

ExecStartPre=-/usr/bin/docker kill gitlab-runner.service
ExecStartPre=-/usr/bin/docker rm gitlab-runner.service
ExecStartPre=/usr/bin/docker pull akohlbecker/gitlab-runner
ExecStart=/usr/bin/docker run \
    --log-driver syslog \
    --log-opt tag="{{.Name}}" \
    --name gitlab-runner.service \
    --network services \
    --volume /mnt/docker/gitlab-runner:/etc/gitlab-runner \
    --volume /var/run/docker.sock:/var/run/docker.sock \
    akohlbecker/gitlab-runner
ExecStop=/usr/bin/docker stop gitlab-runner.service

[Install]
WantedBy=compose.service
