# nginx.service #######################################################################
[Unit]
Description=Nginx
After=docker.service
Requires=docker.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=120

ExecStartPre=-/usr/bin/docker kill nginx.service
ExecStartPre=-/usr/bin/docker rm nginx.service
ExecStartPre=/usr/bin/docker pull akohlbecker/nginx
ExecStart=/usr/local/bin/assume_role "arn:aws:iam::000390721279:role/credentials@docker-nginx" "nginx.service" \
  /usr/bin/docker run \
    --log-driver syslog \
    --log-opt tag="{{.Name}}" \
    --name nginx.service \
    --network services \
    --publish 443:443 \
    --publish 80:80 \
    --volume /etc/letsencrypt:/etc/letsencrypt:ro \
    --volume /var/www/letsencrypt:/var/www/letsencrypt:ro \
    -e AWS_ACCESS_KEY_ID \
    -e AWS_REGION \
    -e AWS_SECRET_ACCESS_KEY \
    -e AWS_SESSION_TOKEN \
    akohlbecker/nginx
ExecStop=/usr/bin/docker stop nginx.service

[Install]
WantedBy=compose.service
