# plex.service #######################################################################
[Unit]
Description=Plex
After=docker.service mnt-media.mount zfs-mount.service
Requires=docker.service mnt-media.mount zfs-mount.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=120
RestartSec=15

ExecStartPre=-/usr/bin/docker kill plex.service
ExecStartPre=-/usr/bin/docker rm plex.service
ExecStartPre=/usr/bin/docker pull akohlbecker/plex
ExecStart=/usr/bin/docker run \
    --log-driver syslog \
    --log-opt tag="{{.Name}}" \
    --name plex.service \
    --network services \
    --publish 1900:1900/udp \
    --publish 3005:3005/tcp \
    --publish 32400:32400/tcp \
    --publish 32410:32410/udp \
    --publish 32412:32412/udp \
    --publish 32413:32413/udp \
    --publish 32414:32414/udp \
    --publish 32469:32469/tcp \
    # --publish 5353:5353/udp \ # used by avahi container
    --publish 8324:8324/tcp \
    --security-opt apparmor=docker-dbus \
    --volume /mnt/docker/plex:/data \
    --volume /mnt/media:/media \
    --volume /var/run/dbus:/var/run/dbus \
    akohlbecker/plex
ExecStop=/usr/bin/docker stop plex.service

[Install]
WantedBy=compose.service
