# resume.service ######################################################################e
[Unit]
Description=Resume
After=docker.service
Requires=docker.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill resume.service
ExecStartPre=-/usr/bin/docker rm resume.service
ExecStartPre=/usr/bin/docker pull kohlby/resume
ExecStart=/usr/bin/docker run \
    --log-driver=syslog \
    --log-opt tag=resume.service \
    --name resume.service \
    --network=services \
    kohlby/resume
ExecStop=/usr/bin/docker stop resume.service
TimeoutSec=120

[Install]
WantedBy=compose.service
