# sabnzbd.service #######################################################################
[Unit]
Description=Sabnzbd
After=docker.service mnt-media.mount zfs-mount.service
Requires=docker.service mnt-media.mount zfs-mount.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

ExecStartPre=-/usr/bin/docker kill sabnzbd.service
ExecStartPre=-/usr/bin/docker rm sabnzbd.service
ExecStartPre=/usr/bin/docker pull akohlbecker/sabnzbd
ExecStart=/usr/local/bin/assume_role "arn:aws:iam::000390721279:role/credentials@docker-sabnzbd" "sabnzbd.service" \
  /usr/bin/docker run \
    --env AWS_ACCESS_KEY_ID \
    --env AWS_REGION \
    --env AWS_SECRET_ACCESS_KEY \
    --env AWS_SESSION_TOKEN \
    --log-driver syslog \
    --log-opt tag="{{.Name}}" \
    --name sabnzbd.service \
    --network services \
    --volume /mnt/docker/sabnzbd:/data \
    --volume /mnt/media:/media \
    akohlbecker/sabnzbd
ExecStop=/usr/bin/docker stop sabnzbd.service

[Install]
WantedBy=compose.service
