# sabnzbd.service #######################################################################
[Unit]
Description=Sabnzbd
After=docker.service mnt-media.mount zfs-mount.service
Requires=docker.service mnt-media.mount zfs-mount.service
Wants=nginx.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill sabnzbd.service
ExecStartPre=-/usr/bin/docker rm sabnzbd.service
ExecStartPre=/usr/bin/docker pull kohlby/sabnzbd
ExecStart=/usr/bin/docker run \
    --cap-add SYS_ADMIN \
    --log-driver=syslog \
    --log-opt tag=sabnzbd.service \
    --name sabnzbd.service \
    --network=services \
    --security-opt seccomp=unconfined \
    --user root \
    --volume /mnt/docker/sabnzbd:/data \
    --volume /mnt/media:/media \
    --volume /opt/ejson/keys:/opt/ejson/keys:ro \
    kohlby/sabnzbd
ExecStop=/usr/bin/docker stop sabnzbd.service
TimeoutSec=120

[Install]
WantedBy=compose.service
