# samba.service #######################################################################
[Unit]
Description=Samba
After=docker.service mnt-media.mount zfs-mount.service
Requires=docker.service mnt-media.mount zfs-mount.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill samba.service
ExecStartPre=-/usr/bin/docker rm samba.service
ExecStartPre=/usr/bin/docker pull kohlby/samba
ExecStart=/usr/bin/docker run \
    --cap-add SYS_ADMIN \
    --log-driver=syslog \
    --log-opt tag=samba.service \
    --name samba.service \
    --publish "137:137/udp" \
    --publish "138:138/udp" \
    --publish 139:139 \
    --publish 445:445 \
    --security-opt seccomp=unconfined \
    --tty \
    --user root \
    --volume /mnt/legacy:/mnt/legacy \
    --volume /mnt/media:/mnt/media \
    --volume /mnt/pictures:/mnt/pictures \
    --volume /mnt/videos:/mnt/videos \
    --volume /opt/ejson/keys:/opt/ejson/keys:ro \
    kohlby/samba
ExecStop=/usr/bin/docker stop samba.service
TimeoutSec=120

[Install]
WantedBy=compose.service
