# sickrage.service #######################################################################
[Unit]
Description=Sickrage
After=docker.service mnt-media.mount zfs-mount.service sabnzbd.service
Requires=docker.service mnt-media.mount zfs-mount.service sabnzbd.service
Wants=nginx.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill services_sickrage
ExecStartPre=-/usr/bin/docker rm services_sickrage
ExecStartPre=/usr/bin/docker pull kohlby/sickrage
ExecStart=/usr/bin/docker run \
    --name services_sickrage \
    --publish 8081:8081 \
    --volume /opt/ejson/keys:/opt/ejson/keys:ro \
    --volume /mnt/docker/sickrage:/data \
    --volume /mnt/media:/media \
    --log-driver=syslog \
    --log-opt tag=compose.sickrage \
    --cap-add SYS_ADMIN \
    --security-opt seccomp=unconfined \
    --user root \
    kohlby/sickrage
ExecStop=/usr/bin/docker stop services_sickrage
TimeoutSec=60

[Install]
WantedBy=compose.service
