# sickrage.service #######################################################################
[Unit]
Description=Sickrage
After=docker.service mnt-media.mount zfs-mount.service sabnzbd.service
Requires=docker.service mnt-media.mount zfs-mount.service sabnzbd.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=120
RestartSec=15

ExecStartPre=-/usr/bin/docker kill sickrage.service
ExecStartPre=-/usr/bin/docker rm sickrage.service
ExecStartPre=/usr/bin/docker pull kohlby/sickrage
ExecStart=/usr/bin/docker run \
    --cap-add SYS_ADMIN \
    --log-driver syslog \
    --log-opt tag="{{.Name}}" \
    --name sickrage.service \
    --network services \
    --security-opt seccomp=unconfined \
    --user root \
    --volume /mnt/docker/sickrage:/data \
    --volume /mnt/media:/media \
    --volume /opt/ejson/keys:/opt/ejson/keys:ro \
    kohlby/sickrage
ExecStop=/usr/bin/docker stop sickrage.service

[Install]
WantedBy=compose.service
