http:
  routers:
    ipmi:
      entryPoints:
        - websecure
      service: ipmi
      rule: Host(`ipmi.{{ domain }}`)
      tls: {}
  services:
    ipmi:
      loadBalancer:
        servers:
          - url: 'https://10.123.0.10:443/'
