# jinja2: lstrip_blocks: "True"
# overseerr.service #######################################################################
[Unit]
Description=overseerr
After=network-online.target
Wants=network-online.target
StartLimitInterval=600
StartLimitBurst=3
{% if zfs_root %}
After=zfs_mount_mnt_services.service zfs_mount_mnt_media.service  zfs_autosnapshot.target
Requires=zfs_mount_mnt_services.service zfs_mount_mnt_media.service
PartOf=zfs_autosnapshot.target
{% endif %}

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
Delegate=yes
TimeoutSec=120
RestartSec=5
Type=notify
NotifyAccess=all

ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
    --cidfile=%t/%n.ctr-id \
    --cgroups=split \
    --sdnotify=healthy \
    --detach \
    --replace \
    --rm \
    --name overseerr \
    --log-driver journald \
    --log-opt tag="overseerr" \
    --env PUID={{ overseerr_user.uid }} \
    --env PGID={{ ansible_facts.getent_group['media'][1] }} \
    --env TZ=Europe/Paris \
    --volume /mnt/services/overseerr:/config \
    --volume /mnt/media:/media \
    --publish 127.0.0.1:5055:5055/tcp \
    --health-cmd         "curl --get --location --fail --silent --show-error --connect-timeout 1 --max-time 5 -o /dev/null http://localhost:5055/api/v1/status" \
    --health-startup-cmd "curl --get --location --fail --silent --show-error --connect-timeout 1 --max-time 5 -o /dev/null http://localhost:5055/api/v1/status" \
    --health-startup-interval "1s" \
    --health-startup-timeout "5s" \
    docker.io/linuxserver/overseerr:1.33.2
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id --time 60
ExecStopPost=/usr/bin/podman rm --force --ignore --cidfile=%t/%n.ctr-id

[Install]
WantedBy=default.target
{% if zfs_root %}
WantedBy=zfs_autosnapshot.target
{% endif %}
