http:
  routers:
    minio_api:
      entryPoints:
        - websecure
      service: minio_api
      rule: Host(`minio.{{ domain }}`) || Host(`minio.{{ inventory_hostname }}.{{ domain }}`)
      tls: {}
    minio_console:
      entryPoints:
        - websecure
      service: minio_console
      middlewares:
        - minio_stripconsole
      rule: (Host(`minio.{{ domain }}`) || Host(`minio.{{ inventory_hostname }}.{{ domain }}`)) && PathPrefix(`/console`)
      tls: {}
  middlewares:
    minio_stripconsole:
      stripPrefix:
        prefixes:
          - "/console"
  services:
    minio_api:
      loadBalancer:
        servers:
          - url: 'http://127.0.0.1:9199/'
    minio_console:
      loadBalancer:
        servers:
          - url: 'http://127.0.0.1:9001/'
