#jinja2: lstrip_blocks: True
# openproject.service #######################################################################
[Unit]
Description=openproject
After=network-online.target
Wants=network-online.target
StartLimitInterval=600
StartLimitBurst=3
{% if zfs_root %}
{% if zfs_has_services_mount %}
After=zfs_mount_mnt_services.service
Requires=zfs_mount_mnt_services.service
{% endif %}
After=zfs_autosnapshot.target
PartOf=zfs_autosnapshot.target
{% endif %}

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
Delegate=yes
TimeoutStartSec=900
TimeoutStopSec=150
RestartSec=5
Type=notify
NotifyAccess=all
SyslogIdentifier=%N

ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
    --cidfile=%t/%n.ctr-id \
    --cgroups=split \
    --sdnotify=healthy \
    --detach \
    --replace \
    --rm \
    --name openproject \
    --log-driver journald \
    --log-opt tag="openproject" \
    --security-opt=no-new-privileges \
    --init \
    --uidmap=0:0:65536 \
    --uidmap=+102:{{ openproject_pg_user.uid }}:1 \
    --uidmap=+1000:{{ openproject_user.uid }}:1 \
    --gidmap=0:0:65536 \
    --gidmap=+106:{{ openproject_pg_user.group }}:1 \
    --gidmap=+1000:{{ openproject_user.group }}:1 \
    --volume /mnt/services/openproject/pgdata:/var/openproject/pgdata \
    --volume /mnt/services/openproject/assets:/var/openproject/assets \
    --publish 127.0.0.1:{{ service_ports.openproject }}:80/tcp \
    --env OPENPROJECT_HOST__NAME=openproject.{{ inventory_hostname }}.{{ domain }} \
    --env OPENPROJECT_HTTPS=true \
    --env OPENPROJECT_DEFAULT__LANGUAGE=fr \
{% if openproject_admin_password is defined %}
    --env OPENPROJECT_SEED__ADMIN__USER__MAIL={{ root_email }} \
    --env "OPENPROJECT_SEED__ADMIN__USER__NAME=Adrien Kohlbecker" \
    --env OPENPROJECT_SEED__ADMIN__USER__PASSWORD__RESET=false \
    --secret=openproject_admin_password,type=env,target=OPENPROJECT_SEED__ADMIN__USER__PASSWORD \
{% endif %}
    --secret=openproject_secret_key,type=env,target=SECRET_KEY_BASE \
{% if openproject_smtp_password is defined %}
    --env OPENPROJECT_EMAIL__DELIVERY__METHOD=smtp \
    --env OPENPROJECT_SMTP__ADDRESS={{ smtp_host }} \
    --env OPENPROJECT_SMTP__PORT={{ smtp_port }} \
    --env OPENPROJECT_SMTP__DOMAIN={{ email_domain }} \
    --env OPENPROJECT_SMTP__USER__NAME={{ openproject_smtp_user }} \
    --env OPENPROJECT_SMTP__AUTHENTICATION=plain \
    --env OPENPROJECT_SMTP__ENABLE__STARTTLS__AUTO={{ smtp_use_tls | bool }} \
    --env OPENPROJECT_SMTP__SSL={{ smtp_use_ssl | bool }} \
    --secret=openproject_smtp_password,type=env,target=OPENPROJECT_SMTP__PASSWORD \
{% endif %}
    --health-cmd         '["curl","--head","--location","--fail","--silent","--show-error","--connect-timeout","1","--max-time","5","-o","/dev/null","http://127.0.0.1:80/health_checks/database"]' \
    --health-startup-cmd '["curl","--head","--location","--fail","--silent","--show-error","--connect-timeout","1","--max-time","5","-o","/dev/null","http://127.0.0.1:80/health_checks/default"]' \
    --health-startup-interval "1s" \
    --health-startup-timeout "5s" \
    --health-start-period "100s" \
    --tz {{ system_timezone }} \
    --stop-timeout 120 \
    docker.io/openproject/openproject:17
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm --force --ignore --cidfile=%t/%n.ctr-id

[Install]
WantedBy=multi-user.target
{% if zfs_root %}
WantedBy=zfs_autosnapshot.target
{% endif %}
