#jinja2: lstrip_blocks: "True"
{
  {# the local logging driver is recommended over json-file as it performs log-rotation by default, and uses a more efficient file format #}
  "log-driver": "local",
  {# ZFS already compresses data #}
  {% if zfs_root %}
  "log-opts": {
    "compress": "false"
  },
  {% endif %}
  {# Ensure that we don't use ZFS by mistake #}
  "storage-driver": "overlay2",
  {# Do not bind to 0.0.0.0 by default when publishing ports, which would bind them to all interfaces including externally #}
  "ip": "127.0.0.1"
}
