# jinja2: lstrip_blocks: "True"
# csplogger.service #######################################################################
[Unit]
Description=csplogger
After=network-online.target
Wants=network-online.target
StartLimitInterval=600
StartLimitBurst=5
{% if zfs_root %}
After=zfs_mount_mnt_services.service zfs_autosnapshot.target
Requires=zfs_mount_mnt_services.service
PartOf=zfs_autosnapshot.target
{% endif %}

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
Delegate=yes
TimeoutSec=120
RestartSec=5
Type=notify
NotifyAccess=all

ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
    --cidfile=%t/%n.ctr-id \
    --cgroups=split \
    --sdnotify=healthy \
    --detach \
    --replace \
    --rm \
    --name csplogger \
    --log-driver journald \
    --log-opt tag="csplogger" \
    --user {{ csplogger_user.uid }}:{{ csplogger_user.group }}  \
    --volume /mnt/services/csplogger:/app/databases \
    --publish 127.0.0.1:8443:8443/tcp \
    --health-cmd         "wget --quiet --tries=1 --spider http://localhost:8443/dashboard > /dev/null" \
    --health-startup-cmd "wget --quiet --tries=1 --spider http://localhost:8443/dashboard > /dev/null" \
    --health-startup-interval "1s" \
    --health-startup-timeout "5s" \
    --health-interval "45s" \
    docker.io/giuliocomi/csplogger@sha256:5460b64fa6cb0471cb5a254d7f63719782de463fd155ba1f17b74a275f3249f8
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id --time 60
ExecStopPost=/usr/bin/podman rm --force --ignore --cidfile=%t/%n.ctr-id

[Install]
WantedBy=default.target
{% if zfs_root %}
WantedBy=zfs_autosnapshot.target
{% endif %}
