# This is the network config written by 'subiquity'
network:
  ethernets:
    nic0:
      match:
        macaddress: a8:a1:59:f5:82:92
      set-name: eth0
      dhcp4: true
      dhcp6: false
    nic1:
      match:
        macaddress: a8:a1:59:f5:82:93
      set-name: eth1
      activation-mode: off
      dhcp4: true
      dhcp6: false
  version: 2
