http:
  routers:
    journald_exporter:
      entryPoints:
        - websecure
      service: journald_exporter
      rule: Host(`journald-exporter.{{ domain }}`) || Host(`journald-exporter.{{ inventory_hostname }}.{{ domain }}`)
      tls: {}
      middlewares:
        - journald_redirect_to_metrics
        - journald_change_headers
  services:
    journald_exporter:
      loadBalancer:
        servers:
          - url: 'http://localhost:12345/'
  middlewares:
    journald_change_headers:
      headers:
        customRequestHeaders:
          Authorization: Basic {{ ("metrics:"+journald_exporter_key) | b64encode }}
        customResponseHeaders:
          Content-Type: text/plain
    journald_redirect_to_metrics:
      redirectRegex:
        regex: ^https://([^/]+)/?$
        replacement: "https://${1}/metrics"
