# jinja2: lstrip_blocks: "True"
# plex.service #######################################################################
[Unit]
Description=plex
After=network-online.target
Wants=network-online.target
StartLimitInterval=600
StartLimitBurst=3
{% if zfs_root %}
After=zfs_mount_mnt_services.service zfs_mount_mnt_scratch.service zfs_mount_mnt_media.service zfs_mount_mnt_data.service   zfs_autosnapshot.target
Requires=zfs_mount_mnt_services.service zfs_mount_mnt_scratch.service zfs_mount_mnt_media.service zfs_mount_mnt_data.service
PartOf=zfs_autosnapshot.target
{% endif %}

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
Delegate=yes
TimeoutSec=120
RestartSec=5
Type=notify
NotifyAccess=all
SyslogIdentifier=%N

ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
    --cidfile=%t/%n.ctr-id \
    --cgroups=split \
    --sdnotify=healthy \
    --detach \
    --replace \
    --rm \
    --name plex \
    --log-driver journald \
    --log-opt tag="plex" \
    --env ADVERTISE_IP="http://{{ ansible_facts.default_ipv4.address }}:32400/" \
    --env PLEX_UID={{ plex_user.uid }} \
    --env PLEX_GID={{ media_group.gid }} \
    --volume /mnt/services/plex:/config \
    --volume /mnt/media:/media \
    --volume "/mnt/data/MacbookPro/Music/iTunes/iTunes Media/Music:/itunes:ro" \
    --volume /mnt/data/Musique/Records:/records:ro \
    --volume /mnt/scratch/plex:/transcode \
    --publish 0.0.0.0:32400:32400/tcp \
    {{ has_transcoding_acceleration | ternary('--device /dev/dri/:/dev/dri/ --group-add="'~ render_group.gid ~'"', '') }} \
    --health-cmd         "curl --head --location --fail --silent --show-error --connect-timeout 1 --max-time 5 -o /dev/null http://localhost:32400/identity" \
    --health-startup-cmd "curl --head --location --fail --silent --show-error --connect-timeout 1 --max-time 5 -o /dev/null http://localhost:32400/identity" \
    --health-startup-interval "1s" \
    --health-startup-timeout "5s" \
    --stop-timeout 120 \
    docker.io/plexinc/pms-docker:1.40.2.8395-c67dce28e
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm --force --ignore --cidfile=%t/%n.ctr-id

[Install]
WantedBy=default.target
{% if zfs_root %}
WantedBy=zfs_autosnapshot.target
{% endif %}
