[Unit]
Description=ZFS mount status at boot
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/zfs_check_mount {{ dataset }} {{ mountpoint }}

[Install]
WantedBy=multi-user.target
