[defaults]
#display_ok_hosts = false
#display_skipped_hosts = false
callback_result_format = yaml

host_key_checking = False
verbosity = 1
force_color = True

vault_password_file = vault.sh

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=600s -o UserKnownHostsFile=/dev/null
pipelining = True

[persistent_connection]
connect_timeout = 900

[diff]
always = True
