SABNZBD_API_KEY={{ lookup('aws_ssm', 'sabnzbd.api_key' ) }}
COUCHPOTATO_API_KEY={{ lookup('aws_ssm', 'couchpotato.api_key' ) }}
NZBGEEK_API_KEY={{ lookup('aws_ssm', 'nzbgeek.api_key' ) }}
PLEX_TOKEN={{ lookup('aws_ssm', 'plex.token' ) }}
