SENDGRID_USERNAME={{ aws_ssm_sabnzbd_sendgrid_username }}
SENDGRID_PASSWORD={{ aws_ssm_sabnzbd_sendgrid_password }}
EMAIL_FROM={{ aws_ssm_sabnzbd_email_from }}
EMAIL_TO={{ aws_ssm_sabnzbd_email_to }}
NEWSGROUPDIRECT_USERNAME={{ aws_ssm_sabnzbd_newsgroupdirect_username }}
NEWSGROUPDIRECT_PASSWORD={{ aws_ssm_sabnzbd_newsgroupdirect_password }}
NZB_KEY={{ aws_ssm_sabnzbd_nzb_key }}
USENETFARM_USERNAME={{ aws_ssm_sabnzbd_usenetfarm_username }}
USENETFARM_PASSWORD={{ aws_ssm_sabnzbd_usenetfarm_password }}
PLEX_TOKEN={{ aws_ssm_plex_token }}
COUCHPOTATO_API_KEY={{ aws_ssm_couchpotato_api_key }}
SABNZBD_API_KEY={{ aws_ssm_sabnzbd_api_key }}
