[Unit]
Description=fan2go hardware fan control daemon
Documentation=https://github.com/markusressel/fan2go
After=lm-sensors.service

[Service]
ExecStart=/usr/local/bin/fan2go -c /etc/fan2go/fan2go.yaml --no-style
Restart=always
RestartSec=10

NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
