# vim:ft=systemd-unit-file
[Unit]
{% if zfs_has_minio_mount %}
After=zfs_mount_mnt_minio.service
Requires=zfs_mount_mnt_minio.service
{% endif %}
After=zfs_autosnapshot.target
PartOf=zfs_autosnapshot.target

[Install]
WantedBy=zfs_autosnapshot.target
