# vim:ft=systemd-unit-file
[Unit]
Description=Daily podman prune

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
