# avahi.service #######################################################################
[Unit]
Description=Avahi
After=docker.service
Requires=docker.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

ExecStartPre=-/usr/bin/docker kill avahi
ExecStartPre=-/usr/bin/docker rm avahi
ExecStartPre=/usr/bin/docker pull akohlbecker/avahi
ExecStart=/usr/bin/docker run \
    --init \
    --name avahi \
    --net host \
    --security-opt apparmor=docker-dbus \
    --volume /var/run/dbus:/var/run/dbus \
    akohlbecker/avahi
ExecStop=/usr/bin/docker stop avahi

[Install]
WantedBy=compose.service
