[Unit]
Description=Docker Compose Services

[Service]
Type=oneshot
ExecStart=/bin/echo "started"
RemainAfterExit=yes
SyslogIdentifier=​compose

[Install]
WantedBy=multi-user.target
