# coredns.service #######################################################################
[Unit]
Description=coredns
After=docker.service mnt-services.service
Requires=docker.service mnt-services.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

SyslogIdentifier=coredns

ExecStartPre=-/usr/bin/docker kill coredns
ExecStartPre=-/usr/bin/docker rm coredns
ExecStartPre=-/usr/bin/docker pull coredns/coredns
ExecStart=/usr/bin/docker run \
    --init \
    --name coredns \
    --log-driver none \
    --publish 10.123.0.11:53:53/tcp \
    --publish 10.123.0.11:53:53/udp \
    --volume /mnt/services/coredns:/data \
    --workdir /data \
    coredns/coredns \
    -conf Corefile
ExecStop=/usr/bin/docker stop coredns

[Install]
WantedBy=compose.service
