# couchpotato.service #######################################################################
[Unit]
Description=Couchpotato
After=docker.service mnt-media.mount zfs-mount.service sabnzbd.service
Requires=docker.service mnt-media.mount zfs-mount.service sabnzbd.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

ExecStartPre=-/usr/bin/docker kill couchpotato.service
ExecStartPre=-/usr/bin/docker rm couchpotato.service
ExecStartPre=/usr/bin/docker pull akohlbecker/couchpotato
ExecStart=/usr/bin/docker run \
    --init \
    --env-file /etc/env.d/couchpotato \
    --log-driver syslog \
    --log-opt tag="{{.Name}}" \
    --name couchpotato.service \
    --network services \
    --volume /mnt/docker/couchpotato:/data \
    --volume /mnt/media:/media \
    akohlbecker/couchpotato
ExecStop=/usr/bin/docker stop couchpotato.service

[Install]
WantedBy=compose.service
