# couchpotato.service #######################################################################
[Unit]
Description=Couchpotato
After=docker.service mnt-media.mount zfs-mount.service sabnzbd.service
Requires=docker.service mnt-media.mount zfs-mount.service sabnzbd.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

ExecStartPre=-/usr/bin/docker kill couchpotato.service
ExecStartPre=-/usr/bin/docker rm couchpotato.service
ExecStartPre=/usr/bin/docker pull akohlbecker/couchpotato
ExecStart=/usr/bin/docker run \
    --init \
    --env-file /etc/env.d/couchpotato \
    --log-driver syslog \
    --log-opt tag="{{.Name}}" \
    --name couchpotato.service \
    --network services \
    --network traefik \
    --volume /mnt/docker/couchpotato:/data \
    --volume /mnt/media:/media \
    --label "traefik.docker.network=traefik" \
    --label "traefik.enable=true" \
    --label "traefik.frontend.rule=Host:couchpotato.kohlby.fr" \
    --label "traefik.port=5050" \
    --label "traefik.protocol=http" \
    --label "traefik.frontend.auth.forward.address=http://traefik-auth-cloudflare/auth/5e02944c3d8ef0cc0d9f2eb0906557b75ecf47ac3bdcd94aa964cd5431d35996" \
    akohlbecker/couchpotato
ExecStop=/usr/bin/docker stop couchpotato.service

[Install]
WantedBy=compose.service
