# couchpotato.service #######################################################################
[Unit]
Description=Couchpotato
After=docker.service mnt-media.mount mnt-services.service sabnzbd.service
Requires=docker.service mnt-media.mount mnt-services.service sabnzbd.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

SyslogIdentifier=couchpotato

ExecStartPre=-/usr/bin/docker kill couchpotato
ExecStartPre=-/usr/bin/docker rm couchpotato
ExecStartPre=-/usr/bin/docker pull akohlbecker/couchpotato
ExecStartPre=/usr/bin/docker create \
    --init \
    --name couchpotato \
    --log-driver none \
    --volume /mnt/services/couchpotato:/data \
    --volume /mnt/media:/media \
    --label "traefik.docker.network=traefik" \
    --label "traefik.enable=true" \
    --label "traefik.frontend.rule=Host:couchpotato.kohlby.fr" \
    --label "traefik.port=5050" \
    --label "traefik.protocol=http" \
    akohlbecker/couchpotato
ExecStartPre=/usr/bin/docker network connect usenet couchpotato
ExecStartPre=/usr/bin/docker network connect traefik couchpotato
ExecStart=/usr/bin/docker start --attach couchpotato
ExecStop=/usr/bin/docker stop couchpotato

[Install]
WantedBy=compose.service
