# filebrowser.service #######################################################################
[Unit]
Description=filebrowser
After=docker.service mnt-services.mount mnt-media.mount mnt-data.mount
Requires=docker.service mnt-services.mount mnt-media.mount mnt-data.mount
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

SyslogIdentifier=filebrowser

ExecStartPre=-/usr/bin/docker kill filebrowser
ExecStartPre=-/usr/bin/docker rm filebrowser
ExecStartPre=-/usr/bin/docker pull filebrowser/filebrowser:latest
ExecStart=/usr/bin/docker run \
    --init \
    --name filebrowser \
    --log-driver none \
    --network traefik \
    --volume /mnt/data:/srv/data:ro \
    --volume /mnt/media:/srv/media:ro \
    --volume /mnt/services/filebrowser/database.db:/database.db \
    --volume /mnt/services/filebrowser/filebrowser.json:/.filebrowser.json \
    --label "traefik.enable=true" \
    --label "traefik.http.services.filebrowser.loadbalancer.server.port=80" \
    --label "traefik.http.routers.filebrowser.rule=Host(`filebrowser.kohlby.fr`)" \
    --label "traefik.http.routers.filebrowser.tls=true" \
    --label "traefik.http.routers.filebrowser.tls.certresolver=letsencrypt" \
    --label "traefik.http.routers.filebrowser.entrypoints=websecure" \
    filebrowser/filebrowser:latest \
    --noauth
ExecStop=/usr/bin/docker stop filebrowser

[Install]
WantedBy=compose.service
