# monero.service #######################################################################
[Unit]
Description=monero
After=docker.service
Requires=docker.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

SyslogIdentifier=monero

ExecStartPre=-/usr/bin/docker kill monero
ExecStartPre=-/usr/bin/docker rm monero
ExecStartPre=-/usr/bin/docker pull xmrto/monero:latest
ExecStart=/usr/bin/docker run \
    --init \
    --name monero \
    --env-file /etc/env.d/monero \
    --log-driver none \
    --env USER_ID=2006 \
    --volume /mnt/services/monero:/monero \
    --publish 8080:28081 \
    xmrto/monero:latest \
    --data-dir /monero
ExecStop=/usr/bin/docker stop monero

[Install]
WantedBy=compose.service
