# overseerr.service #######################################################################
[Unit]
Description=overseerr
After=docker.service mnt-services.mount
Requires=docker.service mnt-services.mount
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

SyslogIdentifier=overseerr

ExecStartPre=-/usr/bin/docker kill overseerr
ExecStartPre=-/usr/bin/docker rm overseerr
ExecStartPre=-/usr/bin/docker pull linuxserver/overseerr:latest
ExecStartPre=/usr/bin/docker create \
    --name overseerr \
    --log-driver none \
    --env PUID=2008 \
    --env PGID=2008 \
    --env TZ=Europe/Amsterdam \
    --volume /mnt/services/overseerr/config:/config \
    --label "traefik.docker.network=traefik" \
    --label "traefik.enable=true" \
    --label "traefik.frontend.rule=Host:overseerr.kohlby.fr" \
    --label "traefik.port=5055" \
    --label "traefik.protocol=http" \
    linuxserver/overseerr:latest
ExecStartPre=/usr/bin/docker network connect usenet overseerr
ExecStartPre=/usr/bin/docker network connect traefik overseerr
ExecStart=/usr/bin/docker start --attach overseerr
ExecStop=/usr/bin/docker stop overseerr

[Install]
WantedBy=compose.service
