# plex.service #######################################################################
[Unit]
Description=Plex
After=docker.service mnt-media.mount zfs-mount.service
Requires=docker.service mnt-media.mount zfs-mount.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

ExecStartPre=-/usr/bin/docker kill plex
ExecStartPre=-/usr/bin/docker rm plex
ExecStartPre=/usr/bin/docker pull plexinc/pms-docker
ExecStart=/usr/bin/docker run \
    --init \
    --name plex \
    --net host \
    --volume "/mnt/docker/plex:/config/Library/Application Support" \
    --volume /mnt/media:/media \
    --volume /tmp/transcode:/transcode \
    plexinc/pms-docker
ExecStop=/usr/bin/docker stop plex

[Install]
WantedBy=compose.service
