# plex.service #######################################################################
[Unit]
Description=Plex
After=docker.service mnt-media.mount mnt-services.service
Requires=docker.service mnt-media.mount mnt-services.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

SyslogIdentifier=plex

ExecStartPre=-/usr/bin/docker kill plex
ExecStartPre=-/usr/bin/docker rm plex
ExecStartPre=-/usr/bin/docker pull plexinc/pms-docker
ExecStart=/usr/bin/docker run \
    --init \
    --name plex \
    --log-driver none \
    --network usenet \
    --publish 32400:32400/tcp \
    --publish 3005:3005/tcp \
    --publish 8324:8324/tcp \
    --publish 32469:32469/tcp \
    --publish 1900:1900/udp \
    --publish 32410:32410/udp \
    --publish 32412:32412/udp \
    --publish 32413:32413/udp \
    --publish 32414:32414/udp \
    --volume /mnt/services/plex:/config \
    --volume /mnt/media:/media \
    --volume /tmp/transcode:/transcode \
    --env ADVERTISE_IP="http://10.123.0.11:32400/" \
    --env PLEX_UID=2005 \
    --env PLEX_GID=2005 \
    plexinc/pms-docker
ExecStop=/usr/bin/docker stop plex

[Install]
WantedBy=compose.service
