# portainer.service #######################################################################
[Unit]
Description=portainer
After=docker.service
Requires=docker.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

ExecStartPre=-/usr/bin/docker kill portainer
ExecStartPre=-/usr/bin/docker rm portainer
# ExecStartPre=/usr/bin/docker pull portainer/portainer:1.19.2
ExecStart=/usr/bin/docker run \
    --init \
    --name portainer \
    --network traefik \
    --volume /mnt/docker/portainer:/data \
    --volume /var/run/docker.sock:/var/run/docker.sock \
    --label "traefik.docker.network=traefik" \
    --label "traefik.enable=true" \
    --label "traefik.frontend.rule=Host:portainer.kohlby.fr" \
    --label "traefik.port=9000" \
    --label "traefik.protocol=http" \
    --label "traefik.frontend.auth.forward.address=http://traefik-auth-cloudflare/auth/5e1fe5b47ca159f90126270dd84f1c10fd646e8a384c1564c612a43d772d7fdd" \
    portainer/portainer:1.19.2
ExecStop=/usr/bin/docker stop portainer

[Install]
WantedBy=compose.service
