# samba.service #######################################################################
[Unit]
Description=Samba
After=docker.service mnt-media.mount zfs-mount.service
Requires=docker.service mnt-media.mount zfs-mount.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

ExecStartPre=-/usr/bin/docker kill samba.service
ExecStartPre=-/usr/bin/docker rm samba.service
ExecStartPre=/usr/bin/docker pull akohlbecker/samba
ExecStart=/usr/bin/docker run \
    --init \
    --env-file /etc/env.d/samba \
    --log-driver syslog \
    --log-opt tag="{{.Name}}" \
    --name samba.service \
    --publish "137:137/udp" \
    --publish "138:138/udp" \
    --publish 139:139 \
    --publish 445:445 \
    --tty \
    --volume /mnt/legacy:/mnt/legacy \
    --volume /mnt/media:/mnt/media \
    --volume /mnt/pictures:/mnt/pictures \
    --volume /mnt/videos:/mnt/videos \
    akohlbecker/samba
ExecStop=/usr/bin/docker stop samba.service

[Install]
WantedBy=compose.service
