# sftp.service #######################################################################
[Unit]
Description=SFTP
After=docker.service zfs-mount.service
Requires=docker.service zfs-mount.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

ExecStartPre=-/usr/bin/docker kill sftp
ExecStartPre=-/usr/bin/docker rm sftp
ExecStartPre=/usr/bin/docker pull akohlbecker/sftp
ExecStart=/usr/bin/docker run \
    --init \
    --name sftp \
    --publish 2223:22 \
    --user root \
    --volume /mnt/sftp/arq:/home/arq/sftp \
    --volume /mnt/brumath:/home/adrien/brumath \
    --volume /mnt/sftp/ssh:/etc/ssh/host_keys \
    akohlbecker/sftp
ExecStop=/usr/bin/docker stop sftp

[Install]
WantedBy=compose.service
