# sickrage.service #######################################################################
[Unit]
Description=Sickrage
After=docker.service mnt-media.mount zfs-mount.service sabnzbd.service
Requires=docker.service mnt-media.mount zfs-mount.service sabnzbd.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

ExecStartPre=-/usr/bin/docker kill sickrage.service
ExecStartPre=-/usr/bin/docker rm sickrage.service
ExecStartPre=/usr/bin/docker pull akohlbecker/sickrage
ExecStart=/usr/local/bin/assume_role "arn:aws:iam::000390721279:role/credentials@docker-sickrage" "sickrage.service" \
  /usr/bin/docker run \
    --env AWS_ACCESS_KEY_ID \
    --env AWS_REGION \
    --env AWS_SECRET_ACCESS_KEY \
    --env AWS_SESSION_TOKEN \
    --log-driver syslog \
    --log-opt tag="{{.Name}}" \
    --name sickrage.service \
    --network services \
    --volume /mnt/docker/sickrage:/data \
    --volume /mnt/media:/media \
    akohlbecker/sickrage
ExecStop=/usr/bin/docker stop sickrage.service

[Install]
WantedBy=compose.service
