# sickrage.service #######################################################################
[Unit]
Description=Sickrage
After=docker.service mnt-media.mount zfs-mount.service sabnzbd.service
Requires=docker.service mnt-media.mount zfs-mount.service sabnzbd.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

ExecStartPre=-/usr/bin/docker kill sickrage
ExecStartPre=-/usr/bin/docker rm sickrage
ExecStartPre=/usr/bin/docker pull sickrage/sickrage
ExecStartPre=/usr/bin/docker create \
    --init \
    --name sickrage \
    --volume /mnt/services/sickrage:/config \
    --volume /mnt/media:/media \
    --label "traefik.docker.network=traefik" \
    --label "traefik.enable=true" \
    --label "traefik.frontend.rule=Host:sickrage.kohlby.fr" \
    --label "traefik.port=8081" \
    --label "traefik.protocol=http" \
    --label "traefik.frontend.auth.forward.address=http://traefik-auth-cloudflare/auth/287d2f4e699f1d692d2449c29775aff93424b1face49e0ba185956e74f014f51" \
    sickrage/sickrage
ExecStartPre=/usr/bin/docker network connect usenet sickrage
ExecStartPre=/usr/bin/docker network connect traefik sickrage
ExecStart=/usr/bin/docker start --attach sickrage
ExecStop=/usr/bin/docker stop sickrage

[Install]
WantedBy=compose.service
