# speedtest.service #######################################################################
[Unit]
Description=speedtest
After=docker.service
Requires=docker.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

ExecStartPre=-/usr/bin/docker kill speedtest
ExecStartPre=-/usr/bin/docker rm speedtest
ExecStartPre=/usr/bin/docker pull adolfintel/speedtest:latest
ExecStart=/usr/bin/docker run \
    --init \
    --network traefik \
    --name speedtest \
    --publish 8080:80 \
    adolfintel/speedtest:latest
ExecStop=/usr/bin/docker stop speedtest

[Install]
WantedBy=compose.service
