# speedtest.service #######################################################################
[Unit]
Description=speedtest
After=docker.service
Requires=docker.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

ExecStartPre=-/usr/bin/docker kill speedtest.service
ExecStartPre=-/usr/bin/docker rm speedtest.service
ExecStartPre=/usr/bin/docker pull adolfintel/speedtest:latest
ExecStart=/usr/bin/docker run \
    --init \
    --log-driver syslog \
    --log-opt tag="{{.Name}}" \
    --name speedtest.service \
    --network traefik \
    --publish 8080:80 \
    adolfintel/speedtest:latest
ExecStop=/usr/bin/docker stop speedtest.service

[Install]
WantedBy=compose.service
