# ssh-brumath #######################################################################
[Unit]
Description=ssh-brumath
After=docker.service mnt-brumath.service
Requires=docker.service mnt-brumath.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

SyslogIdentifier=ssh-brumath

ExecStartPre=-/usr/bin/docker kill ssh-brumath
ExecStartPre=-/usr/bin/docker rm ssh-brumath
ExecStartPre=-/usr/bin/docker pull akohlbecker/docker-ssh
ExecStartPre=/bin/mkdir -p /var/run/synology-brumath
ExecStartPre=/bin/sh -c "/usr/bin/stat /var/run/synology-brumath/synoquota.db || /usr/bin/bindfs /mnt/brumath/synology /var/run/synology-brumath -o map=ak/brumath:@ak/@brumath"
ExecStart=/usr/bin/docker run \
    --init \
    --name ssh-brumath \
    --log-driver none \
    --volume /etc/ssh:/etc/ssh:ro \
    --volume /etc/passwd:/etc/passwd:ro \
    --volume /etc/group:/etc/group:ro \
    --volume /etc/shadow:/etc/shadow:ro \
    --volume /etc/gshadow:/etc/gshadow:ro \
    --volume /home/brumath:/home/brumath:ro \
    --volume /var/run/synology-brumath:/data \
    --publish 2223:22 \
    akohlbecker/docker-ssh
ExecStop=/usr/bin/docker stop ssh-brumath

[Install]
WantedBy=compose.service
