# ssh-arq #######################################################################
[Unit]
Description=ssh-arq
After=docker.service mnt-arq-adrien.mount mnt-arq-marie.mount
Requires=docker.service mnt-arq-adrien.mount mnt-arq-marie.mount
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

SyslogIdentifier=ssh-arq

ExecStartPre=-/usr/bin/docker kill ssh-arq
ExecStartPre=-/usr/bin/docker rm ssh-arq
ExecStartPre=-/usr/bin/docker pull akohlbecker/docker-ssh
ExecStart=/usr/bin/docker run \
    --init \
    --name ssh-arq \
    --log-driver none \
    --volume /etc/ssh:/etc/ssh:ro \
    --volume /etc/passwd:/etc/passwd:ro \
    --volume /etc/group:/etc/group:ro \
    --volume /etc/shadow:/etc/shadow:ro \
    --volume /etc/gshadow:/etc/gshadow:ro \
    --volume /home/arq:/home/arq:ro \
    --volume /mnt/arq/adrien:/data/adrien \
    --volume /mnt/arq/marie:/data/marie \
    --publish 2224:22 \
    akohlbecker/docker-ssh
ExecStop=/usr/bin/docker stop ssh-arq

[Install]
WantedBy=compose.service
