# traefik.service #######################################################################
[Unit]
Description=Traefik
After=docker.service mnt-services.service
Requires=docker.service mnt-services.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

SyslogIdentifier=traefik

ExecStartPre=-/usr/bin/docker kill traefik
ExecStartPre=-/usr/bin/docker rm traefik
# ExecStartPre=-/usr/bin/docker pull traefik:1.7.3
ExecStart=/usr/bin/docker run \
    --init \
    --env-file /etc/env.d/traefik \
    --name traefik \
    --network traefik \
    --log-driver none \
    --publish 443:443 \
    --publish 80:80 \
    --volume /var/run/docker.sock:/var/run/docker.sock \
    --volume /mnt/services/traefik/traefik.toml:/traefik.toml \
    --volume /mnt/services/traefik/acme.json:/acme.json \
    --volume /mnt/services/traefik/cloudflare-origin-pull-ca.pem:/cloudflare-origin-pull-ca.pem \
    --label "traefik.port=8080" \
    --label "traefik.backend=traefikception" \
    --label "traefik.frontend.rule=Host:traefik.kohlby.fr" \
    --label "traefik.enable=true" \
    traefik:1.7.3
ExecStop=/usr/bin/docker stop traefik

[Install]
WantedBy=compose.service
