# traefik.service #######################################################################
[Unit]
Description=Traefik
After=docker.service mnt-services.mount
Requires=docker.service mnt-services.mount
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

SyslogIdentifier=traefik

ExecStartPre=-/usr/bin/docker kill traefik
ExecStartPre=-/usr/bin/docker rm traefik
# ExecStartPre=-/usr/bin/docker pull traefik:2.9
ExecStart=/usr/bin/docker run \
    --init \
    --env-file /etc/env.d/traefik \
    --name traefik \
    --network traefik \
    --log-driver none \
    --publish 443:443 \
    --publish 80:80 \
    --volume /var/run/docker.sock:/var/run/docker.sock \
    --volume /mnt/services/traefik/traefik.toml:/traefik.toml \
    --volume /mnt/services/traefik/dynamic.toml:/dynamic.toml \
    --volume /mnt/services/traefik/acme.json:/acme.json \
    --label "traefik.enable=true" \
    --label "traefik.http.routers.traefik.rule=Host(`traefik.kohlby.fr`)" \
    --label "traefik.http.routers.traefik.service=api@internal" \
    --label "traefik.http.routers.traefik.tls=true" \
    --label "traefik.http.routers.traefik.tls.certresolver=letsencrypt" \
    --label "traefik.http.routers.traefik.entrypoints=websecure" \
    traefik:2.9
ExecStop=/usr/bin/docker stop traefik

[Install]
WantedBy=compose.service
