# traefik-auth-cloudflare #######################################################################
[Unit]
Description=traefik-auth-cloudflare
After=docker.service
Requires=docker.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

ExecStartPre=-/usr/bin/docker kill traefik-auth-cloudflare
ExecStartPre=-/usr/bin/docker rm traefik-auth-cloudflare
ExecStartPre=/usr/bin/docker pull akohlbecker/traefik-auth-cloudflare
ExecStart=/usr/bin/docker run \
    --init \
    --name traefik-auth-cloudflare \
    --network traefik-auth \
    akohlbecker/traefik-auth-cloudflare \
    --auth-domain https://akohlbecker.cloudflareaccess.com
ExecStop=/usr/bin/docker stop traefik-auth-cloudflare

[Install]
WantedBy=compose.service
