# tunnel-gdk.service #######################################################################
[Unit]
Description=tunnel-gdk
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

SyslogIdentifier=tunnel-gdk

ExecStart=/usr/local/bin/ssl-proxy-linux-amd64 -from 0.0.0.0:443 -to 127.0.0.1:20076 -domain gdk.kohlby.fr

[Install]
WantedBy=compose.service
