# webhook.service #######################################################################
[Unit]
Description=webhook

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

SyslogIdentifier=webhook

WorkingDirectory=/home/pi/webhook
ExecStart=/usr/bin/npm start

[Install]
WantedBy=multi-user.target
