[retriever]
type = SimpleIMAPSSLRetriever
server = imap.gmail.com
username = {{ root_email }}
password = {{ gmail_app_password }}
record_mailbox = false
mailboxes = ("[Gmail]/All Mail",)

[destination]
type = Maildir
path = /mnt/services/getmail/

[options]
read_all = false
delivered_to = false
received = false
