- name: Install refind
  apt:
    package:
      - refind
    cache_valid_time: 3600
  become: true
  tags:
    - refind
    - _check_stage1

- name: Remove default config
  file:
    path: /boot/refind_linux.conf
    state: absent
  become: true
  tags:
    - refind
    - _check_stage1

- name: Create theme directory
  file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: "0755"
  loop:
    - /boot/efi/EFI/refind/themes
    - /boot/efi/EFI/refind/themes/refind-theme-regular
  become: true
  register: refind_theme_dir
  tags:
    - refind
    - _check_stage1

- name: Check if theme exists
  stat:
    path: /boot/efi/EFI/refind/themes/refind-theme-regular/LICENSE
  register: refind_check
  become: true
  tags:
    - refind

- name: Download theme
  when: not (ansible_check_mode and refind_theme_dir.changed) and not refind_check.stat.exists
  unarchive:
    src: https://github.com/bobafetthotmail/refind-theme-regular/archive/26a82c33c67bbcaf1498a3c2e4d314b7cbe6cf50.tar.gz
    dest: /boot/efi/EFI/refind/themes/refind-theme-regular
    remote_src: true
    extra_opts: [ --strip-components=1 ]
  become: true
  tags:
    - refind

- name: Delete unused files
  file:
    path: "/boot/efi/EFI/refind/themes/refind-theme-regular/{{ item }}"
    state: absent
  loop:
    - src
    - .git
    - .gitignore
    - .devcontainer
    - install.sh
  become: true
  tags:
    - refind

- name: Configure refind
  copy:
    src: refind.conf
    dest: /boot/efi/EFI/refind/refind.conf
    owner: root
    group: root
    mode: "0755"
    # backup: true # TODO: this fails?
  become: true
  tags:
    - refind

- name: Configure refind
  copy:
    src: theme.conf
    dest: /boot/efi/EFI/refind/themes/refind-theme-regular/theme.conf
    owner: root
    group: root
    mode: "0755"
    # backup: true # TODO: this fails?
  become: true
  tags:
    - refind
