<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
 <name replace-wildcards="yes">%h</name>
 <service>
   <type>_afpovertcp._tcp</type>
   <port>548</port>
 </service>
 <service>
   <type>_device-info._tcp</type>
   <port>0</port>
   <txt-record>model=TimeCapsule6,106</txt-record>
 </service>
 <service>
    <type>_adisk._tcp</type>
    <port>9</port>
    <txt-record>sys=waMA=52:54:00:f4:d6:49,adVF=0x100</txt-record>
    <txt-record>dk1=adVF=0x83,adVN=Adrien</txt-record>
  </service>
</service-group>
