# {{ ansible_managed }}
# Authelia file-backend schema:
# https://www.authelia.com/configuration/first-factor/file/
---
users:
{% for user in authelia_users %}
  {{ user.username | to_json }}:
    displayname: {{ user.displayname | to_json }}
    password: {{ user.password_hash | to_json }}
    email: {{ user.email | to_json }}
    groups: {{ user.groups | default([]) | to_json }}
{% endfor %}
