http:
  routers:
    ipmi:
      entryPoints:
        - websecure
      service: ipmi
      rule: Host(`ipmi.{{ domain }}`) || Host(`ipmi.{{ inventory_hostname }}.{{ domain }}`)
      tls: {}
  services:
    ipmi:
      loadBalancer:
        servers:
          - url: 'https://{{ external_ips.ipmi }}:443/'
