- name: Add zfs mount service for root pool
  when: zfs_root
  import_role:
    name: zfs_mount
    tasks_from: unit
  vars:
    zfs_mount_dataset: rpool/ROOT/jammy
    zfs_mount_mountpoint: /
  tags:
    - zfs_mount

- name: Add zfs mount service for boot pool
  when: zfs_root and zfs_has_bpool
  import_role:
    name: zfs_mount
    tasks_from: unit
  vars:
    zfs_mount_dataset: bpool/BOOT/jammy
    zfs_mount_mountpoint: /boot
  tags:
    - zfs_mount
