- name: Add check mount binary
  copy:
    src: zfs_check_mount.sh
    dest: /usr/local/bin/zfs_check_mount
    mode: "0755"
    owner: root
    group: root
    backup: true
    validate: bash -n %s
  become: true
  tags:
    - zfs_mount
    - _check_stage1

- name: unit | Install systemd mount service
  import_role:
    name: systemd_unit
    tasks_from: template
  vars:
    systemd_unit_src: zfs_mount.service
    systemd_unit_dest: zfs_mount{{ zfs_mount_mountpoint | regex_replace('^/$', '/root') | replace('/', '_') }}.service
  tags:
    - zfs_mount
    - _check_stage1

- name: unit | Enable zfs_mount service
  import_role:
    name: systemd_unit
    tasks_from: service
  vars:
    systemd_unit_src: zfs_mount{{ zfs_mount_mountpoint | regex_replace('^/$', '/root') | replace('/', '_') }}
    systemd_unit_condition: "{{ not (ansible_check_mode and systemd_unit.changed) }}"
    systemd_unit_restart: "{{ systemd_unit.changed }}"
  tags:
    - zfs_mount
