http:
  routers:
    netdata:
      entryPoints:
        - websecure
      service: netdata
      rule: Host(`netdata.{{ domain }}`) || Host(`netdata.{{ inventory_hostname }}.{{ domain }}`)
      tls: {}
  services:
    netdata:
      loadBalancer:
        servers:
          - url: 'http://127.0.0.1:19999/'
