Host bunk
  Hostname {{ (wireguard_peers|selectattr("name", "eq", "bunk")|first).address }}
  User ak

Host *
    ControlPath ~/.ssh/.controlmaster-%C
    ControlMaster auto
    ControlPersist 3600
    IdentityFile ~/.ssh/id_ed25519
    ServerAliveInterval 30
    ConnectTimeout 2
