# jinja2: lstrip_blocks: "True"
# sonarr.service #######################################################################
[Unit]
Description=sonarr
After=network-online.target
Wants=network-online.target
StartLimitInterval=600
StartLimitBurst=3
{% if zfs_root %}
{% if zfs_has_services_mount %}
After=zfs_mount_mnt_services.service
Requires=zfs_mount_mnt_services.service
{% endif %}
{% if zfs_has_scratch_mount %}
After=zfs_mount_mnt_scratch.service
Requires=zfs_mount_mnt_scratch.service
{% endif %}
{% if zfs_has_media_mount %}
After=zfs_mount_mnt_media.service
Requires=zfs_mount_mnt_media.service
{% endif %}
After=zfs_autosnapshot.target
PartOf=zfs_autosnapshot.target
{% endif %}

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
Delegate=yes
TimeoutSec=120
RestartSec=5
Type=notify
NotifyAccess=all
SyslogIdentifier=%N

ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
    --cidfile=%t/%n.ctr-id \
    --cgroups=split \
    --sdnotify=healthy \
    --detach \
    --replace \
    --rm \
    --name sonarr \
    --log-driver journald \
    --log-opt tag="sonarr" \
    --env PUID={{ sonarr_user.uid }} \
    --env PGID={{ media_group.gid }} \
    --env TZ=Europe/Paris \
    --volume /mnt/services/sonarr:/config \
    --volume /mnt/media:/media \
    --volume /mnt/scratch:/scratch \
    --publish 127.0.0.1:8989:8989/tcp \
    --health-cmd         "curl --head --location --fail --silent --show-error --connect-timeout 1 --max-time 5 -o /dev/null http://localhost:8989/ping" \
    --health-startup-cmd "curl --head --location --fail --silent --show-error --connect-timeout 1 --max-time 5 -o /dev/null http://localhost:8989/ping" \
    --health-startup-interval "1s" \
    --health-startup-timeout "5s" \
    --stop-timeout 120 \
    docker.io/linuxserver/sonarr:4.0.15
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm --force --ignore --cidfile=%t/%n.ctr-id

[Install]
WantedBy=default.target
{% if zfs_root %}
WantedBy=zfs_autosnapshot.target
{% endif %}
