{
  "id": {{ act_runner_settings_json.id }},
  "uuid": "{{ act_runner_settings_json.uuid }}",
  "name": "{{ inventory_hostname }}",
  "token": "{{ act_runner_settings_json.token }}",
  "address": "{{ act_runner_instance }}",
  "labels": {{ act_runner_labels | to_json }}
}
