[Unit]
Description={{ systemd_timer_args.description | default(systemd_timer_args.name) }} timer

[Timer]
OnCalendar={{ systemd_timer_args.on_calendar }}
Persistent=true
{% if systemd_timer_args.randomized_delay_sec is defined %}
RandomizedDelaySec={{ systemd_timer_args.randomized_delay_sec }}
{% endif %}
{% if systemd_timer_args.accuracy_sec is defined %}
AccuracySec={{ systemd_timer_args.accuracy_sec }}
{% endif %}
{% if systemd_timer_args.on_active_sec is defined %}
OnActiveSec={{ systemd_timer_args.on_active_sec }}
{% endif %}

[Install]
WantedBy=timers.target
