# headphones.service #######################################################################
[Unit]
Description=headphones
After=docker.service mnt-media.mount mnt-services.mount mnt-scratch.mount sabnzbd.service
Requires=docker.service mnt-media.mount mnt-services.mount mnt-scratch.mount sabnzbd.service
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

SyslogIdentifier=headphones

ExecStartPre=-/usr/bin/docker kill headphones
ExecStartPre=-/usr/bin/docker rm headphones
ExecStartPre=-/usr/bin/docker pull linuxserver/headphones
ExecStartPre=/usr/bin/docker create \
    --name=headphones \
    --log-driver none \
    --env PUID=0 \
    --env PGID=0 \
    --env TZ=Europe/Amsterdam \
    --volume /mnt/services/headphones:/config \
    --volume /mnt/media:/media \
    --volume /mnt/scratch:/scratch \
    --label "traefik.enable=true" \
    --label "traefik.http.services.headphones.loadbalancer.server.port=8181" \
    --label "traefik.http.routers.headphones.rule=Host(`headphones.kohlby.fr`)" \
    --label "traefik.http.routers.headphones.tls=true" \
    --label "traefik.http.routers.headphones.tls.certresolver=letsencrypt" \
    --label "traefik.http.routers.headphones.entrypoints=websecure" \
    linuxserver/headphones
ExecStartPre=/usr/bin/docker network connect usenet headphones
ExecStartPre=/usr/bin/docker network connect traefik headphones
ExecStart=/usr/bin/docker start --attach headphones
ExecStop=/usr/bin/docker stop headphones

[Install]
WantedBy=compose.service
