# sabnzbd.service #######################################################################
[Unit]
Description=Sabnzbd
After=docker.service mnt-media.mount mnt-services.mount mnt-scratch.mount
Requires=docker.service mnt-media.mount mnt-services.mount mnt-scratch.mount
PartOf=compose.service

StartLimitInterval=300
StartLimitBurst=5

[Service]
Restart=always
TimeoutSec=300
RestartSec=15

SyslogIdentifier=sabnzbd

ExecStartPre=-/usr/bin/docker kill sabnzbd
ExecStartPre=-/usr/bin/docker rm sabnzbd
ExecStartPre=-/usr/bin/docker pull akohlbecker/sabnzbd
ExecStartPre=/usr/bin/docker create \
    --init \
    --name sabnzbd \
    --log-driver none \
    --volume /mnt/services/sabnzbd:/data \
    --volume /mnt/services/sabnzbd/autoProcessMedia.cfg:/opt/nzbToMedia/autoProcessMedia.cfg \
    --volume /mnt/media:/media \
    --volume /mnt/scratch:/scratch \
    --label "traefik.enable=true" \
    --label "traefik.http.services.sabnzbd.loadbalancer.server.port=8080" \
    --label "traefik.http.routers.sabnzbd.rule=Host(`sabnzbd.kohlby.fr`)" \
    --label "traefik.http.routers.sabnzbd.tls=true" \
    --label "traefik.http.routers.sabnzbd.tls.certresolver=letsencrypt" \
    --label "traefik.http.routers.sabnzbd.entrypoints=websecure" \
    akohlbecker/sabnzbd
ExecStartPre=/usr/bin/docker network connect usenet sabnzbd
ExecStartPre=/usr/bin/docker network connect traefik sabnzbd
ExecStart=/usr/bin/docker start --attach sabnzbd
ExecStop=/usr/bin/docker stop sabnzbd

[Install]
WantedBy=compose.service
