http:
  routers:
    nut:
      entryPoints:
        - websecure
      service: nut
      rule: Host(`nut.{{ domain }}`) || Host(`nut.{{ inventory_hostname }}.{{ domain }}`)
      tls: {}
      middlewares:
        - nut_redirect_to_cgi_script
        - nut_redirect_to_nut_subfolder
  services:
    nut:
      loadBalancer:
        servers:
          - url: 'http://localhost:8080/'

  middlewares:
    nut_redirect_to_nut_subfolder:
      addPrefix:
        prefix: "/cgi-bin/nut"
    nut_redirect_to_cgi_script:
      redirectRegex:
        regex: ^https://([^/]+)/?$
        replacement: "https://${1}/upsstats.cgi"
