- name: Create apt_cacher_ng directory
  file:
    dest: /mnt/scratch/apt_cacher_ng
    state: directory
    owner: 101 # todo container should have its own user
    group: 102
    mode: "0755"
  become: true
  register: apt_cacher_ng_dir
  tags:
    - apt_cacher_ng
    - _check_stage1

- name: Install apt_cacher_ng service
  import_role:
    name: systemd_unit
    tasks_from: template
  vars:
    systemd_unit_src: apt_cacher_ng.service
  tags:
    - apt_cacher_ng
    - _check_stage1

- name: Enable apt_cacher_ng service
  import_role:
    name: systemd_unit
    tasks_from: service
  vars:
    systemd_unit_src: apt_cacher_ng
    systemd_unit_condition: "{{ not (ansible_check_mode and systemd_unit.changed) }}"
    systemd_unit_restart: "{{ systemd_unit.changed }}"
  tags:
    - apt_cacher_ng

- name: Configure nginx
  import_role:
    name: nginx
    tasks_from: site
  vars:
    nginx_subdomain: apt
    nginx_proxy_pass: http://localhost:3142/
    nginx_enable_http: true
  tags:
    - apt_cacher_ng
