# Managed by ansible (roles/netdata/templates/charts_d_keepalived_vrrp.conf.j2).
# Sourced by /usr/libexec/netdata/charts.d/keepalived_vrrp.chart.sh before
# keepalived_vrrp_check. Only deployed on the VRRP peers (pihole_keepalived_peers).
keepalived_vrrp_vip="{{ pihole_keepalived_ip }}"
