# vim:ft=yaml
jobs:
  - name: journald
    url: http://127.0.0.1:12345/metrics
    username: metrics
    password: {{ journald_exporter_key }}
    autodetection_retry: 60

  - name: custom
    url: http://127.0.0.1:19392/metrics
    autodetection_retry: 60
