- name: Add media group
  group:
    name: media
    system: true
  become: true
  register: media_group
  tags:
    - media
    - _check_stage1

- name: Add user to media group
  import_role:
    name: usergroup_immediate
    tasks_from: user
  when: not (ansible_check_mode and media_group.changed)
  vars:
    usergroup_immediate_group: media
  tags:
    - media

- name: Create zfs filesystem
  when: zfs_root
  zfs:
    name: '{{ zfs_tank_filesystem }}/media'
    state: present
    extra_zfs_properties:
      mountpoint: /mnt/media
      'autobackup:bak': 'false'
  become: true
  tags:
    - media

- name: Create mount point
  file:
    dest: /mnt/media
    state: directory
    owner: "{{ ansible_user }}"
    group: media
    mode: "0775"
  become: true
  tags:
    - media

- name: Set up mount service for tank/media
  when: zfs_root
  import_role:
    name: zfs_mount
    tasks_from: unit
  vars:
    zfs_mount_dataset: '{{ zfs_tank_filesystem }}/media'
    zfs_mount_mountpoint: /mnt/media
  tags:
    - media

- name: Create storage directories
  file:
    dest: "{{ item }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: media
    mode: "0775"
  become: true
  tags:
    - media
  loop:
    - /mnt/media/Headphones
    - /mnt/media/Live Music
    - /mnt/media/Movies
    - /mnt/media/Music
    - /mnt/media/Other
    - /mnt/media/TV
