http:
  routers:
    dashboard_internal:
      rule: PathPrefix(`/api`) || PathPrefix(`/dashboard`)
      service: api@internal
      entryPoints:
        - internal
    dashboard:
      rule: Host(`traefik.{{ domain }}`) || Host(`traefik.{{ inventory_hostname }}.{{ domain }}`)
      service: api@internal
      tls: {}
      entryPoints:
        - websecure
      middlewares:
        - api_redirect_to_dashboard

  middlewares:
    api_redirect_to_dashboard:
      redirectRegex:
        regex: ^https://([^/]+)/?$
        replacement: "https://${1}/dashboard/"
