http:
  routers:
    metrics_internal:
      rule: PathPrefix(`/metrics`)
      service: prometheus@internal
      entryPoints:
        - internal
    metrics:
      rule: (Host(`traefik.{{ domain }}`) || Host(`traefik.{{ inventory_hostname }}.{{ domain }}`)) && PathPrefix(`/metrics`)
      service: prometheus@internal
      tls: {}
      entryPoints:
        - websecure
