# vim:ft=yaml
jobs:
  - name: domain_cert
    source: file:///etc/letsencrypt/live/{{ domain }}/fullchain.pem
    autodetection_retry: 60
  - name: host_cert
    source: file:///etc/letsencrypt/live/{{ inventory_hostname }}.{{ domain }}/fullchain.pem
    autodetection_retry: 60
