{% set own_peer = wireguard_peers|selectattr("name", "eq", own_peer_name)|first -%}
{% set vpn_peer = None if vpn_peer_name is not defined else wireguard_peers|selectattr("name", "eq", vpn_peer_name)|first -%}
[Interface]
# PublicKey = {{ own_peer.public_key }}
PrivateKey = {{ own_peer.private_key }}
Address = {{ own_peer.address }}/17
ListenPort = {{ listen_port | default('51820') }}
{% if 'post_up' in own_peer %}
PostUp = {{ own_peer.post_up }}
{% endif %}
{% if 'post_down' in own_peer %}
PostDown = {{ own_peer.post_down }}
{% endif %}
{% if vpn_peer %}
DNS = {{ vpn_peer.dns_address }}
{% elif not own_peer.is_server %}
DNS = {{ external_ips.pihole }}
{% endif %}

{% for peer in wireguard_peers if (peer.is_server or own_peer.is_server) and (peer.public_key != own_peer.public_key) %}
{% set allowed_ips = [peer.address+'/32']+peer.get('allowed_ips', []) %}
{% set tuple = [own_peer.name, peer.name]|sort %}
[Peer]
# Name = {{ peer.name }}
PublicKey = {{ peer.public_key }}
{% if vpn_peer and vpn_peer.name == peer.name %}
{% set allowed_ips = allowed_ips + [ "1.0.0.0/8", "2.0.0.0/7", "4.0.0.0/6", "8.0.0.0/7", "11.0.0.0/8", "12.0.0.0/6", "16.0.0.0/4", "32.0.0.0/3", "64.0.0.0/3", "96.0.0.0/4", "112.0.0.0/5", "120.0.0.0/6", "124.0.0.0/7", "126.0.0.0/8", "128.0.0.0/3", "160.0.0.0/5", "168.0.0.0/8", "169.0.0.0/9", "169.128.0.0/10", "169.192.0.0/11", "169.224.0.0/12", "169.240.0.0/13", "169.248.0.0/14", "169.252.0.0/15", "169.255.0.0/16", "170.0.0.0/7", "172.0.0.0/12", "172.32.0.0/11", "172.64.0.0/10", "172.128.0.0/9", "173.0.0.0/8", "174.0.0.0/7", "176.0.0.0/4", "192.0.0.0/9", "192.128.0.0/11", "192.160.0.0/13", "192.169.0.0/16", "192.170.0.0/15", "192.172.0.0/14", "192.176.0.0/12", "192.192.0.0/10", "193.0.0.0/8", "194.0.0.0/7", "196.0.0.0/6", "200.0.0.0/5", "208.0.0.0/4", "224.0.0.0/4", "::/1", "8000::/2", "c000::/3", "e000::/4", "f000::/5", "f800::/6", "fe00::/9", "fec0::/10", "ff00::/8" ] %}
{% endif %}
AllowedIPs = {{ allowed_ips | unique | join(', ') }}
PresharedKey = {{ lookup('file', playbook_dir + '/wireguard/psk/' + tuple[0] + '-' + tuple[1] + '.psk') }}
{% if 'endpoint' in peer %}
{% if own_peer.is_server and peer.is_server and peer.site_subnet == own_peer.site_subnet %}
Endpoint = {{ peer.endpoint.local }}
{% else %}
{% set host = peer.endpoint.remote | split(':') | first %}
{% set port = peer.endpoint.remote | split(':') | last %}
{% if own_peer.is_server %}
{% set host = lookup('community.general.dig', host) %}
{% endif %}
Endpoint = {{ host }}:{{ port }}
{% endif %}
{% endif %}

{% endfor %}
