{% set own_peer = wireguard_peers|selectattr("own_peer_name", "eq", own_peer_name)|first -%}
# {{ ansible_managed }}

[Interface]
# PublicKey = {{ own_peer.public_key }}
PrivateKey = {{ own_peer.private_key }}
Address = {{ own_peer.address }}/24
ListenPort = 51820

{% for peer in wireguard_peers if peer.public_key != own_peer.public_key %}
{% set allowed_ips = [peer.address+'/32']+peer.get('allowed_ips', []) %}
[Peer]
# Name = {{ peer.name }}
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ allowed_ips|join(',') }}
{% if 'preshared_key' in peer %}
PresharedKey = {{ peer.preshared_key }}
{% endif %}
{% if 'endpoint' in peer %}
Endpoint = {{ peer.endpoint }}
{% endif %}

{% endfor %}
