{% set own_peer = wireguard_peers|selectattr("name", "eq", own_peer_name)|first -%}
# {{ ansible_managed }}

[Interface]
# PublicKey = {{ own_peer.public_key }}
PrivateKey = {{ own_peer.private_key }}
Address = {{ own_peer.address }}/18
ListenPort = 51820
{% if 'post_up' in own_peer %}
PostUp = {{ own_peer.post_up }}
{% endif %}
{% if 'post_down' in own_peer %}
PostDown = {{ own_peer.post_up }}
{% endif %}

{% for peer in wireguard_peers if peer.public_key != own_peer.public_key %}
{% set allowed_ips = [peer.address+'/32']+peer.get('allowed_ips', []) %}
{% set tuple = [own_peer.name, peer.name]|sort %}
[Peer]
# Name = {{ peer.name }}
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ allowed_ips|join(', ') }}
PresharedKey = {{ lookup('file', playbook_dir + '/wireguard/psk/' + tuple[0] + '-' + tuple[1] + '.psk') }}
{% if 'endpoint' in peer %}
Endpoint = {{ peer.endpoint }}
{% endif %}

{% endfor %}
