__encoding__ = utf-8
__version__ = 19
[acenter]
acenter_cats = *,
acenter_enable = 0
acenter_prio_complete = 1
acenter_prio_disk_full = 1
acenter_prio_download = 0
acenter_prio_error = 0
acenter_prio_failed = 1
acenter_prio_new_login = 0
acenter_prio_other = 0
acenter_prio_pause_resume = 0
acenter_prio_pp = 0
acenter_prio_queue_done = 1
acenter_prio_startup = 0
acenter_prio_warning = 0
[apprise]
apprise_cats = *,
apprise_enable = 0
apprise_target_complete = ""
apprise_target_complete_enable = 1
apprise_target_disk_full = ""
apprise_target_disk_full_enable = 0
apprise_target_download = ""
apprise_target_download_enable = 0
apprise_target_error = ""
apprise_target_error_enable = 0
apprise_target_failed = ""
apprise_target_failed_enable = 1
apprise_target_new_login = ""
apprise_target_new_login_enable = 1
apprise_target_other = ""
apprise_target_other_enable = 1
apprise_target_pause_resume = ""
apprise_target_pause_resume_enable = 0
apprise_target_pp = ""
apprise_target_pp_enable = 0
apprise_target_queue_done = ""
apprise_target_queue_done_enable = 0
apprise_target_startup = ""
apprise_target_startup_enable = 0
apprise_target_warning = ""
apprise_target_warning_enable = 0
apprise_urls = ""
[categories]
[[*]]
dir = /media/Other
name = *
newzbin = ""
order = 0
pp = 3
priority = 0
script = None
[[movie]]
dir = /scratch/radarr
name = movie
newzbin = ""
order = 0
pp = 3
priority = -100
script = nzbToRadarr.py
[[music]]
dir = /scratch/headphones
name = music
newzbin = ""
order = 0
pp = 3
priority = -100
script = nzbToHeadPhones.py
[[tv]]
dir = /scratch/sonarr
name = tv
newzbin = ""
order = 0
pp = 3
priority = -100
script = nzbToNzbDrone.py
[growl]
growl_cats = *,
growl_enable = 0
growl_password = ""
growl_prio_complete = 1
growl_prio_disk_full = 1
growl_prio_download = 0
growl_prio_error = 0
growl_prio_failed = 1
growl_prio_new_login = 0
growl_prio_other = 0
growl_prio_pp = 0
growl_prio_queue_done = 1
growl_prio_startup = 1
growl_prio_warning = 0
growl_server = ""
[logging]
log_backups = 5
log_level = 1
max_log_size = 5242880
[misc]
action_on_unwanted_extensions = 0
admin_dir = /config/admin
allow_incomplete_nzb = 0
allow_old_ssl_tls = 0
ampm = 0
api_key = {{ sabnzbd_api_key }}
api_logging = 1
api_warnings = 1
auto_browser = 0
auto_disconnect = 1
auto_sort = ""
backup_dir = /config/backups
backup_for_duplicates = 1
bandwidth_max = 93M
bandwidth_perc = 0
cache_limit = 512M
check_new_rel = 1
cleanup_list = ,
complete_dir = /media/Other
complete_free = ""
config_conversion_version = 4
config_lock = 0
converted_nzo_pickles = 1
date_categories = tv,
date_sort_string = ""
debug_log_decoding = 0
deobfuscate_final_filenames = 1
direct_unpack = 1
direct_unpack_tested = 1
direct_unpack_threads = 3
dirscan_dir = ""
dirscan_speed = 5
disable_api_key = 0
disable_archive = 0
download_dir = /scratch/sabnzbd
download_free = 5G
downloader_sleep_time = 10
dupes_propercheck = 1
email_account = {{ sabnzbd_smtp_username }}
email_cats = *,
email_dir = ""
email_endjob = 2
email_from = {{ sabnzbd_smtp_username }}
email_full = 1
email_pwd = {{ sabnzbd_smtp_password }}
email_rss = 0
email_server = {{ smtp_host }}:{{ smtp_port }}
email_to = {{ root_email }},
empty_postproc = 1
enable_7zip = 1
enable_all_par = 0
enable_bonjour = 1
enable_broadcast = 1
enable_date_sorting = 0
enable_filejoin = 1
enable_https = 0
enable_https_verification = 1
enable_meta = 1
enable_movie_sorting = 0
enable_multipar = 1
enable_par_cleanup = 1
enable_recursive = 1
enable_season_sorting = 1
enable_tsjoin = 1
enable_tv_sorting = 0
enable_unrar = 1
enable_unzip = 1
end_queue_script = None
episode_rename_limit = 20M
ext_rename_ignore = ,
fail_hopeless_jobs = 1
fast_fail = 1
fixed_ports = 1
flat_unpack = 1
folder_max_length = 256
folder_rename = 1
fsys_type = 0
fulldisk_autoresume = 1
helpful_warnings = 1
helpfull_warnings = 1
history_limit = 50
history_retention = ""
history_retention_number = 1
history_retention_option = all
host = ::
host_whitelist = sabnzbd.{{ inventory_hostname}}.{{ domain }}, sabnzbd.{{ domain }}
html_login = 1
https_cert = ""
https_chain = ""
https_key = ""
https_port = ""
ignore_empty_files = 0
ignore_samples = 1
ignore_unrar_dates = 0
ignore_wrong_unrar = 0
inet_exposure = 0
interface_settings = '{"dateFormat":"fromNow","extraQueueColumns":[],"extraHistoryColumns":[],"displayCompact":true,"displayFullWidth":false,"confirmDeleteQueue":true,"confirmDeleteHistory":true,"keyboardShortcuts":true}'
ionice = -c2 -n4
ipv6_hosting = 0
ipv6_servers = 1
ipv6_staging = 0
keep_awake = 1
language = en
load_balancing = 2
local_ranges = ,
log_dir = /config/logs
max_art_opt = 0
max_art_tries = 3
max_foldername_length = 246
max_url_retries = 10
movie_categories = movies,
movie_extra_folder = 0
movie_rename_limit = 100M
movie_sort_extra = -cd%1
movie_sort_string = ""
multipar = 0
new_nzb_on_failure = 1
nice = -n10
no_dupes = 0
no_penalties = 0
no_series_dupes = 0
no_smart_dupes = 0
nomedia_marker = ""
notified_new_skin = 2
num_decoders = 3
nzb_backup_dir = ""
nzb_key = {{ sabnzbd_nzb_key }}
osx_menu = 1
osx_speed = 1
overwrite_files = 0
par_option = ""
password = ""
password_file = ""
pause_on_post_processing = 1
pause_on_pwrar = 2
permissions = 775
port = 8080
pre_check = 0
pre_script = None
preserve_paused_state = 1
process_unpacked_par2 = 1
propagation_delay = 0
queue_complete = ""
queue_complete_pers = 0
queue_limit = 20
quick_check_ext_ignore = nfo, sfv, srr
quota_day = ""
quota_period = m
quota_resume = 0
quota_size = ""
rating_api_key = ""
rating_enable = 1
rating_filter_abort_audio = 0
rating_filter_abort_downvoted = 0
rating_filter_abort_encrypted = 0
rating_filter_abort_encrypted_confirm = 0
rating_filter_abort_keywords = ""
rating_filter_abort_spam = 0
rating_filter_abort_spam_confirm = 0
rating_filter_abort_video = 0
rating_filter_enable = 0
rating_filter_pause_audio = 0
rating_filter_pause_downvoted = 0
rating_filter_pause_encrypted = 0
rating_filter_pause_encrypted_confirm = 0
rating_filter_pause_keywords = ""
rating_filter_pause_spam = 0
rating_filter_pause_spam_confirm = 0
rating_filter_pause_video = 0
rating_host = api.oznzb.com
receive_threads = 2
refresh_rate = 1
reject_duplicate_files = 0
replace_dots = 0
replace_illegal = 1
replace_spaces = 0
replace_underscores = 0
req_completion_rate = 100.2
require_modern_tls = 0
rss_filenames = 0
rss_odd_titles = nzbindex.nl/, nzbindex.com/, nzbclub.com/
rss_rate = 60
safe_postproc = 1
sanitize_safe = 0
sched_converted = 2
schedlines = ,
script_can_fail = 1
script_dir = /opt/nzbToMedia
selftest_host = self-test.sabnzbd.org
series_propercheck = 1
sfv_check = 1
show_sysload = 2
size_limit = 0
socks5_proxy_url = ""
sorters_converted = 1
ssdp_broadcast_interval = 15
ssl_ciphers = ""
start_paused = 0
switchinterval = 0.005
top_only = 0
tray_icon = 0
tv_categories = ,
tv_sort_countries = 1
tv_sort_string = ""
unrar_parameters = ""
unwanted_extensions = ,
unwanted_extensions_mode = 0
url_base = ""
use_pickle = 0
username = ""
verify_xff_header = 1
wait_ext_drive = 5
wait_for_dfolder = 0
warn_dupl_jobs = 1
warn_empty_nzb = 1
warned_old_queue = 0
web_color = Light
web_dir = Glitter
win_menu = 1
win_process_prio = 3
x_frame_options = 1
[ncenter]
ncenter_cats = *,
ncenter_enable = 0
ncenter_prio_complete = 1
ncenter_prio_disk_full = 1
ncenter_prio_download = 0
ncenter_prio_error = 0
ncenter_prio_failed = 1
ncenter_prio_new_login = 0
ncenter_prio_other = 0
ncenter_prio_pause_resume = 0
ncenter_prio_pp = 0
ncenter_prio_queue_done = 1
ncenter_prio_startup = 1
ncenter_prio_warning = 0
[nscript]
nscript_cats = *,
nscript_enable = 0
nscript_parameters = ""
nscript_prio_complete = 1
nscript_prio_disk_full = 1
nscript_prio_download = 0
nscript_prio_error = 0
nscript_prio_failed = 1
nscript_prio_new_login = 0
nscript_prio_other = 0
nscript_prio_pause_resume = 0
nscript_prio_pp = 0
nscript_prio_queue_done = 1
nscript_prio_startup = 1
nscript_prio_warning = 0
nscript_script = ""
[ntfosd]
ntfosd_cats = *,
ntfosd_enable = 1
ntfosd_prio_complete = 1
ntfosd_prio_disk_full = 1
ntfosd_prio_download = 0
ntfosd_prio_error = 0
ntfosd_prio_failed = 1
ntfosd_prio_new_login = 0
ntfosd_prio_other = 0
ntfosd_prio_pause_resume = 0
ntfosd_prio_pp = 0
ntfosd_prio_queue_done = 1
ntfosd_prio_startup = 1
ntfosd_prio_warning = 0
[prowl]
prowl_apikey = ""
prowl_cats = *,
prowl_enable = 0
prowl_prio_complete = 0
prowl_prio_disk_full = 1
prowl_prio_download = -3
prowl_prio_error = -3
prowl_prio_failed = 1
prowl_prio_new_login = -3
prowl_prio_other = -3
prowl_prio_pause_resume = -3
prowl_prio_pp = -3
prowl_prio_queue_done = 0
prowl_prio_startup = -3
prowl_prio_warning = -3
[pushbullet]
pushbullet_apikey = ""
pushbullet_cats = *,
pushbullet_device = ""
pushbullet_enable = 0
pushbullet_prio_complete = 1
pushbullet_prio_disk_full = 1
pushbullet_prio_download = 0
pushbullet_prio_error = 0
pushbullet_prio_failed = 1
pushbullet_prio_new_login = 0
pushbullet_prio_other = 0
pushbullet_prio_pause_resume = 0
pushbullet_prio_pp = 0
pushbullet_prio_queue_done = 0
pushbullet_prio_startup = 0
pushbullet_prio_warning = 0
[pushover]
pushover_cats = *,
pushover_device = ""
pushover_emergency_expire = 3600
pushover_emergency_retry = 60
pushover_enable = 0
pushover_prio_complete = -1
pushover_prio_disk_full = 1
pushover_prio_download = -2
pushover_prio_error = 1
pushover_prio_failed = -1
pushover_prio_new_login = -3
pushover_prio_other = -3
pushover_prio_pause_resume = -2
pushover_prio_pp = -3
pushover_prio_queue_done = -1
pushover_prio_startup = -3
pushover_prio_warning = 1
pushover_token = ""
pushover_userkey = ""
[servers]
[[eu.newsdemon.com]]
connections = 50
displayname = Newsdemon
enable = 1
expire_date = ""
host = europe-ssl.newsdemon.com
name = eu.newsdemon.com
notes = ""
optional = 0
password = {{ sabnzbd_newsdemon_password }}
port = 563
priority = 0
quota = ""
required = 0
retention = 4500
ssl = 1
ssl_ciphers = ""
ssl_verify = 3
timeout = 60
usage_at_start = 0
username = {{ sabnzbd_newsdemon_username }}
[[news-ssl.newsgroupdirect.com]]
connections = 100
displayname = Newsgroupdirect
enable = 1
expire_date = ""
host = europe.newsgroupdirect.com
name = news-ssl.newsgroupdirect.com
notes = ""
optional = 0
password = {{ sabnzbd_newsgroupdirect_password }}
port = 563
priority = 1
quota = 984G
required = 0
retention = 3500
ssl = 1
ssl_ciphers = ""
ssl_verify = 3
timeout = 60
usage_at_start = 3147984888738
username = {{ sabnzbd_newsgroupdirect_username }}
[[news.usenet.farm]]
connections = 50
displayname = Usenet Farm
enable = 1
expire_date = ""
host = news.usenet.farm
name = news.usenet.farm
notes = ""
optional = 0
password = {{ sabnzbd_usenetfarm_password }}
port = 563
priority = 2
quota = 995G
required = 0
retention = 3000
ssl = 1
ssl_ciphers = ""
ssl_verify = 3
timeout = 60
usage_at_start = 4857142225255
username = {{ sabnzbd_usenetfarm_username }}
