- name: _test | Install nginx
  import_role:
    name: _test
    tasks_from: nginx

- name: _test | Install netdata
  import_role:
    name: _test
    tasks_from: netdata

- name: _test | Install podman
  import_role:
    name: _test
    tasks_from: podman

- name: _test | Install dependencies
  apt:
    pkg:
      - logrotate
      - keepalived
      - iproute2 # for ansible network facts
    install_recommends: false
    cache_valid_time: 3600
  become: true

- name: _test | Configure resolved
  shell: |
    set -euo pipefail

    systemctl disable systemd-resolved.service
    systemctl stop systemd-resolved
    echo "nameserver 1.1.1.1" > /etc/resolv.conf
    echo "10.123.0.2 apt.lab.fahm.fr" >> /etc/hosts
  args:
    executable: /bin/bash
    removes: /etc/systemd/system/multi-user.target.wants/systemd-resolved.service
  become: true
